<div class="dark:bg-slate-900 text-white min-h-screen p-4 sm:p-6 lg:p-8 font-sans">
    <!--  Navbar (unchanged)  -->
    <div *ngIf="!isLoggedIn">
      <app-navbar></app-navbar>
    </div>
    <div *ngIf="isLoggedIn">
      <app-navbar
        [hoveredOtherAisPath]="'bg-gray-100 dark:bg-gray-700'"
        [showMoreOrLess]="true"
        [sideBarSmall]="true"
        [sideBarBig]="false"
        [email]="this.auth.currentUser.email"
        [firstName]="this.auth.currentUser.firstName"
        [lastName]="this.auth.currentUser.lastName"
        [path]="'home'">
      </app-navbar>
    </div>

     <app-management-toolbar></app-management-toolbar>

    </div>