<!--Footer-->
<section id="footer" >
    <footer class="mt-12 dark:bg-slate-800 bg-teal-800">
        <div class="container flex flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 lg:flex-row md:space-y-0">
            <!--Logo and social links container-->
            <div class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:items-start">
                <div class="mx-auto my-6-text center text-white lg:hidden">
                    Copyright &copy:2023, All Rights Reserved
                </div>
                
                <!--Logo-->
                <a routerLink="/">
                    <img src="../../../assets/img/earth-triangle-test.png" class="w-20 rounded-xl mb-4" alt="">
                </a>
                <!--Social links-->
                <div class="flex justi-center space-x-4">

                    <!--LInk 1-->

                    <a href="https://twitter.com/RocketGoals" target="_blank">
                        <img src="../../../assets/img/icon-twitter.svg"class="h-8" alt="">
                    </a>

                     

                     <!--LInk 3-->

                     <!-- <a >
                        <img src="../../../assets/img/icon-instagram.svg"class="h-8" alt="">
                    </a> -->
                     <!--LInk 4-->

                     <a href="https://www.youtube.com/@globalsolutionslab6445/videos" target="_blank">
                        <img src="../../../assets/img/icon-youtube.svg"class="h-8" alt="">
                    </a>
                     <!--LInk 5-->

                     <a href="https://www.facebook.com/GlobalSolutionsLab" target="_blank">
                        <img src="../../../assets/img/icon-facebook.svg"class="h-8" alt="">
                    </a>
                </div>
            </div>
            <!-- List Container-->
            <div class="flex justify-around space-x-32">
                <div class="flex flex-col space-y-3 text-white">
                    <!-- <a routerLink="/overview" class="hover:text-brightRed">About</a> -->
                    <a routerLink="/signup" class=" hover:underline">Join Now</a>
                    <a routerLink="/login" class="hover:underline">Sign In</a>
                  
                    <a routerLink="/nwg-news" class="hover:text-brightRed">NewWorld News</a>
                </div>
                <div class="flex flex-col space-y-3 text-white">
                    <a  class="hover:text-brightRed font-extrabold">Resources</a>
                    <a routerLink="/overview" class="hover:underline">About</a>
                    <a routerLink="/blogs" class="hover:underline">Operating Manual</a>
                    <a routerLink="/plans" class="hover:underline">Plans</a>
                    <a routerLink="/archive-pictures" class="hover:underline">GSL Archive Pictures</a>
                    <!-- <a routerLink="/careers" class="hover:underline">Careers</a> -->
                </div>
                <div class="flex flex-col space-y-3 text-white">
                    <a routerLink="/contact-us" class="hover:underline">Contact Us</a>
                    <a routerLink="/privacy" class="hover:underline">Privacy Policy</a>
                 
                </div>

            </div>

            <!--Input Container-->
            <div class="flex flex-col justify-between">
                

                <div class="hidden text-white lg:block">
                    <h1>Copyright &copy; NewWorld Game All Rights Reserved</h1>
                </div>
            </div>
        </div>
    </footer>
</section>