<!--Footer-->
<section id="footer" >
    <footer class="mt-12 dark:bg-slate-800 bg-teal-800">
        <div class="container flex flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 md:flex-row md:space-y-0">
            <!--Logo and social links container-->
            <div class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:items-start">
                <div class="mx-auto my-6-text center text-white md:hidden">
                    Copyright &copy:2023, All Rights Reserved
                </div>
                
                <!--Logo-->
                <div>
                    <img src="../../../assets/img/earth-triangle-test.png" class="w-20 rounded-xl mb-4" alt="">
                </div>
                <!--Social links-->
                <div class="flex justi-center space-x-4">

                    <!--LInk 1-->

                    <a href="https://twitter.com/RocketGoals" target="_blank">
                        <img src="../../../assets/img/icon-twitter.svg"class="h-8" alt="">
                    </a>

                     

                     <!--LInk 3-->

                     <!-- <a >
                        <img src="../../../assets/img/icon-instagram.svg"class="h-8" alt="">
                    </a> -->
                     <!--LInk 4-->

                     <a href="https://www.youtube.com/@globalsolutionslab6445/videos" target="_blank">
                        <img src="../../../assets/img/icon-youtube.svg"class="h-8" alt="">
                    </a>
                     <!--LInk 5-->

                     <a href="https://www.facebook.com/GlobalSolutionsLab" target="_blank">
                        <img src="../../../assets/img/icon-facebook.svg"class="h-8" alt="">
                    </a>
                </div>
            </div>
            <!-- List Container-->
            <div class="flex justify-around space-x-32">
                <div class="flex flex-col space-y-3 text-white">
                    <a routerLink="/overview" class="hover:text-brightRed">About</a>
                    <a routerLink="/signup" class="hover:text-brightRed">Join Now</a>
                    <a routerLink="/login" class="hover:text-brightRed">Sign In</a>
                    <!-- <a routerLink="/blogs/nwg-news" class="hover:text-brightRed">NWG News</a> -->
                </div>
                <div class="flex flex-col space-y-3 text-white">
                    <a routerLink="/careers" class="hover:text-brightRed">Careers</a>
                    <a routerLink="/blogs" class="hover:text-brightRed">Blogs</a>
                    <a routerLink="/privacy" class="hover:text-brightRed">Privacy Policy</a>
                    <a routerLink="/archive-pictures" class="hover:text-brightRed">GSL Archive Pictures</a>
                </div>

            </div>

            <!--Input Container-->
            <div class="flex flex-col justify-between">
                

                <div class="hidden text-white md:block">
                    <h1>Copyright &copy; NewWorld Game All Rights Reserved</h1>
                </div>
            </div>
        </div>
    </footer>
</section>