<nav class=" relative container mx-auto p-6">

    <div class="flex items-center justify-between">
            <div class=" pt-2  " routerLink="/">
                <img  class="h-20"  src="../../../assets/img/new-world-game.svg" alt="">
            </div>
        
            <div class="hidden md:flex space-x-6">
                <a routerLink="#main"> Explore</a>
                <a href="">Join Now</a>
                <a routerLink="/login"> Sign in</a>

            </div>

            <a routerLink="/signup" class="hidden md:block p-3 px-6 pt-2 text-white bg-teal-500 rounded-full hover:bg-teal-700"> Get Started</a>

            <div class="md:hidden flex items-center">
                  <a  class="w-10" href="">
                    <img src="../../../assets/img/hamburger.png" alt="">
                  </a>
              
              </div>
 
            
    </div>

  


</nav>