<div class="dark:bg-slate-900  min-h-screen">
    <div *ngIf="!isLoggedIn">
        <app-navbar></app-navbar>
      </div>
      <div *ngIf="isLoggedIn">
        <app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [lastName]="this.auth.currentUser.lastName" [path]="'home'" ></app-navbar>
      </div>
    
    <section class="bg-white dark:bg-gray-900 mt-12">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-md sm:text-center">
                <h2 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl dark:text-white">NewWorld Game News</h2>
                <p class="mx-auto mb-2 max-w-2xl font-light text-gray-500 md:mb-4 sm:text-xl dark:text-gray-400">Stay up to date with solutions being developed in real time</p>
                
                <!-- <video class="w-full h-[50rem] max-w-full mx-auto " src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/videos%2FGlobal%20Solutions%20Lab%20Welcome%20AI_1.mp4?alt=media&token=66be6bb7-8cd6-4ab4-a78e-85ed3c35fa2e"controls autoplay loop muted></video> -->
                <video id="myVideo" class="w-full h-[50rem] max-w-full mx-auto" autoplay loop controls>
                    <source src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/videos%2FGlobal%20Solutions%20Lab%20Welcome%20AI_1.mp4?alt=media&token=66be6bb7-8cd6-4ab4-a78e-85ed3c35fa2e" type="video/mp4">
                </video>
                
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>