<div class="dark:bg-slate-900 min-h-screen min-w-max ">
    

<app-navbar></app-navbar>
<aside aria-label="Related articles" class="py-24 mt-6  bg-gray-50 dark:bg-slate-900">
    <div class="px-8 mx-auto max-w-screen-xl ">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Operating Manual</h2>
        <div class="grid lg:gap-12  grid-cols-2 lg:grid-cols-4 ">
            <article class="max-w-xs mb-4 md:mb-0">
                <a routerLink="/blogs/instructions">
                    <img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fhow-to-use-nwg.png?alt=media&token=812c30df-724c-4418-ba84-dad8af91c5bf" class="mb-5 rounded-lg h-40 md:h-auto" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a routerLink="/blogs/instructions">How To Use NewWorld Game</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">This is a cheatsheet of everything in the NewWorld Game web application. If there is something that you wish to do but is not included here, please follow this link and add your suggestion.” .....</p>
                <a routerLink="/blogs/instructions" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-gray-200 hover:no-underline">
                    Read in 3 ... minutes
                </a>
            </article>
            <article class="max-w-xs mb-4 md:mb-0">
                <a routerLink="/evaluators">
                    <img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fevaluator.png?alt=media&token=84a50cac-6d8d-49a3-b146-fe0968f83fc5" class="mb-5 rounded-lg  h-40 md:h-auto" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a routerLink="/evaluators">NewWorld Game Evaluator</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">A critical part of NewWorld Game is the Evaluator. As an Evaluator you become part of the Design Team that develops the solution....</p>
                <a routerLink="/evaluators" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-gray-200 hover:no-underline">
                    Read in 2 minutes
                </a>
            </article>
            <article class="max-w-xs mb-4 md:mb-0">
                <a routerLink="/blogs/tournament">
                    <img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fglobal-lab-un.JPEG?alt=media&token=f9322408-b6ee-4b80-b83f-65a5aa3d092d" class="mb-5 rounded-lg  h-40 md:h-auto" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a routerLink="/blogs/tournament">NewWorld Tournament</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">The NewWorld Tournament.is an exciting option for all players/designers in the NewWorld Game......</p>
                <a routerLink="/blogs/tournament" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-gray-200 hover:no-underline">
                    Read in 3 minutes
                </a>
            </article>
            <article class="max-w-xs mb-4 md:mb-0">
                <a routerLink="/blogs/custom-storyboard">
                    <img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fstory-1.png?alt=media&token=74f68956-b57f-4541-9cf6-e02fecb80608" class="mb-5 rounded-lg  h-40 md:h-auto" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a routerLink="/blogs/custom-storyboard">Custom GPT for Design Science Storyboards</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">These pictures were made with a custom ChatGPT called Story Illustrator: ” .....</p>
                <a routerLink="/blogs/custom-storyboard" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-gray-200 hover:no-underline">
                    Read in 5 minutes
                </a>
            </article>

            <article class="max-w-xs mb-4 md:mb-0">
                <a routerLink="/blogs/global-statistical-tools">
                    <img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fglobal-statistical-data.png?alt=media&token=20d8598d-74d2-4062-9741-e3a4b0be21b4" class="mb-5 rounded-lg  h-40 md:h-auto" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a routerLink="/blogs/global-statistical-tools">Global Statistical Data and Data Analysis Tools</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">Accurate statistics on the state of the world are indispensable for dealing with the problems of the world. ” .....</p>
                <a routerLink="/blogs/global-statistical-tools" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-gray-200 hover:no-underline">
                    Read in ... minutes
                </a>
            </article>
            <article class="max-w-xs mb-4 md:mb-0">
                <a routerLink="/blogs/nwg-ai">
                    <img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fnwg-ai.png?alt=media&token=1a07d326-b9df-46e8-a0f8-a087b0809b11" class="mb-5 rounded-lg  h-40 md:h-auto" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a routerLink="/blogs/nwg-ai">NewWorld Game AI</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">The NewWorld Game uses AI (or more precisely Large Language Models— LLMs) to assist in answering many of the questions needed for solving global and local problems.” .....</p>
                <a routerLink="/blogs/nwg-ai" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-gray-200 hover:no-underline">
                    Read in 3 ... minutes
                </a>
            </article>
            <article class="max-w-xs mb-4 md:mb-0">
                <a target="_blank" href="https://www.youtube.com/@globalsolutionslab6445/videos">
                    <img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fbackground-videos.png?alt=media&token=06b311b9-a35d-426e-84d8-814037178300" class="mb-5 rounded-lg  h-40 md:h-auto" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a target="_blank" href="https://www.youtube.com/@globalsolutionslab6445/videos">Background Videos</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">Previous videos fom the Global Solutions Lab” .....</p>
                <a target="_blank" href="https://www.youtube.com/@globalsolutionslab6445/videos" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-gray-200 hover:no-underline">
                   
                </a>
            </article>
            <article class="max-w-xs mb-4 md:mb-0">
                <a target="_blank" routerLink="/blogs/sample-preferred-states">
                    <img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/news-anchor%2Fnewworld-news.png?alt=media&token=a011df9a-8877-4d8d-a0b3-2dddf8dc4e6b" class="mb-5 rounded-lg  h-40 md:h-auto" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a target="_blank" routerLink="/blogs/sample-preferred-states">Sample Preferred States</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">The below are taken from previous work by participants in the 2005-2023 Global Solutions
                    Lab, published in the Designs for a World That Works for All, Volumes I-III....</p>
                <a target="_blank" routerLink="/blogs/sample-preferred-states" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-gray-200 hover:no-underline">
                   Read in ... minutes.
                </a>
            </article>
            <article class="max-w-xs mb-4 md:mb-0">
                <a target="_blank" routerLink="/nwg-news">
                    <img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/news-anchor%2Fnewworld-news.png?alt=media&token=a011df9a-8877-4d8d-a0b3-2dddf8dc4e6b" class="mb-5 rounded-lg  h-40 md:h-auto" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a target="_blank" routerLink="/nwg-news">NewWorld News</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">Weekly News on solutions being developed on the NewWorld Game platform</p>
                <a target="_blank" routerLink="/nwg-news" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-gray-200 hover:no-underline">
                   
                </a>
            </article>

            <article class="max-w-xs mb-4 md:mb-0">
                <a target="_blank" routerLink="/blogs/solution-libraries">
                    <img src="https://i.postimg.cc/Z5Pp7CHs/A-vibrant-and-futuristic-library-scene-showcasing-various-global-solution-databases-and-libraries-T.jpg" class="mb-5 rounded-lg  h-40 md:h-auto" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a target="_blank" routerLink="/blogs/solution-libraries">Global Solutions Libraries/Databases:
                        Options for Changing the World</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">Check out the following for ideas, alternatives, technology for possible use in your strategy:</p>
                <a target="_blank" routerLink="/blogs/solution-libraries" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-gray-200 hover:no-underline">
                   
                </a>
            </article>
            
            
            
            
        </div>
    </div>
  </aside>
  <app-footer></app-footer>
</div>
