<div class="dark:bg-slate-900 min-h-screen min-w-full ">
    

<app-navbar [currentPageBlogs]="true"></app-navbar>
<aside aria-label="Related articles" class="py-8 mt-6 lg:py-24 bg-gray-50 dark:bg-gray-800">
    <div class="px-4 mx-auto max-w-screen-xl">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Related articles</h2>
        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            <article class="max-w-xs">
                <a routerLink="/evaluators">
                    <img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fevaluator.png?alt=media&token=84a50cac-6d8d-49a3-b146-fe0968f83fc5" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a routerLink="/evaluators">NewWorld Game Evaluator</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">A critical part of NewWorld Game is the Evaluator. As an Evaluator you become part of the Design Team that develops the solution....</p>
                <a routerLink="/evaluators" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-gray-200 hover:no-underline">
                    Read in 2 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a routerLink="/blogs/tournament">
                    <img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fglobal-lab-un.JPEG?alt=media&token=f9322408-b6ee-4b80-b83f-65a5aa3d092d" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a routerLink="/blogs/tournament">NewWorld Tournament</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">The NewWorld Tournament.is an exciting option for all players/designers in the NewWorld Game. It is a way your solution can move from “game” to the real world.....</p>
                <a routerLink="/blogs/tournament" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-gray-200 hover:no-underline">
                    Read in 3 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a routerLink="/blogs/custom-storyboard">
                    <img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fstory-1.png?alt=media&token=74f68956-b57f-4541-9cf6-e02fecb80608" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a routerLink="/blogs/custom-storyboard">Custom GPT for Design Science Storyboards</a>
                </h2>
                <p class="mb-4 text-gray-500 dark:text-gray-400">TThese pictures were made with a custom ChatGPT called Story Illustrator: link The initial prompt was very generic, just to demonstrate proof of concept “Hi - please make a story about a village in Africa that wants solar panels on their health clinic.” .....</p>
                <a routerLink="/blogs/custom-storyboard" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-gray-200 hover:no-underline">
                    Read in 5 minutes
                </a>
            </article>
            
            
        </div>
    </div>
  </aside>
  <app-footer></app-footer>
</div>