<app-navbar  [path]="'home'" current="''"></app-navbar>



<main class="mt-24 pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <header class="mb-4 lg:mb-6 not-format">
                <div class="flex flex-row mx-auto mb-4">
                    <h1 class="text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white ">{{currentSolution.title}}</h1>
                </div>
                <address class="flex items-center mb-6 not-italic">

                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white overflow-x-auto">
                        <div class="flex flex-wrap -space-x-1 flex-shrink-0"*ngFor="let user of teamMembers; let i= index" >
                            <div  *ngIf="user.profilePicture?.downloadURL!==undefined" >
                                <img *ngIf="auth.currentUser!==null && user.uid === auth.currentUser.uid"    (mouseenter)="onHoverImageTeam(i)" (mouseleave)="onLeaveTeam(i)"  class="w-16 h-16 border-2  dark:border-gray-700 border-white rounded-full " [src]="user.profilePicture?.downloadURL" routerLink="/profile" alt="">
                                <img *ngIf="auth.currentUser!==null && user.uid !== auth.currentUser.uid"    (mouseenter)="onHoverImageTeam(i)" (mouseleave)="onLeaveTeam(i)"  class="w-16 h-16  dark:border-gray-700 border-2 border-white rounded-full " [src]="user.profilePicture?.downloadURL" routerLink="/user-profile/{{user.uid}}" alt="">
                                <img *ngIf="auth.currentUser===null"    (mouseenter)="onHoverImageTeam(i)" (mouseleave)="onLeaveTeam(i)"  class="w-16 h-16  dark:border-gray-700 border-2 border-white rounded-full " [src]="user.profilePicture?.downloadURL" routerLink="/user-profile/{{user.uid}}" alt="">
                            </div>
                            <div *ngIf="user.profilePicture?.downloadURL===undefined">
                                <div *ngIf=" auth.currentUser!==null && user.uid === auth.currentUser.uid"  (mouseenter)="onHoverImageTeam(i)" (mouseleave)="onLeaveTeam(i)"   class=" w-16 h-16 overflow-hidden bg-gray-100 rounded-full dark:bg-slate-700 mx-auto" routerLink="/profile">
                       
                                    <svg class=" w-20 h-20 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                                
                                </div>
                                <div *ngIf=" auth.currentUser!==null &&user.uid !== auth.currentUser.uid"  (mouseenter)="onHoverImageTeam(i)" (mouseleave)="onLeaveTeam(i)"   class=" w-16 h-16 overflow-hidden bg-gray-100 rounded-full dark:bg-slate-700 mx-auto" routerLink="/user-profile/{{user.uid}}">
                       
                                    <svg class=" w-20 h-20 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                                </div>  
                                <div *ngIf=" auth.currentUser===null"  (mouseenter)="onHoverImageTeam(i)" (mouseleave)="onLeaveTeam(i)"   class=" w-16 h-16 overflow-hidden bg-gray-100 rounded-full dark:bg-slate-700 mx-auto" routerLink="/user-profile/{{user.uid}}">
                       
                                    <svg class=" w-20 h-20 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                                </div>  
                            </div>
                
                            <div >
                                <div *ngIf="showPopUpTeam[i]" >
                                    <div class=" shadow-lg border-2 border-gray-200 dark:border-gray-700 absolute z-10 -mt-[5rem] bg-white dark:bg-slate-800  rounded-lg p-4 "  >
                                        <div class="flex items-center justify-between mb-2" >
                                            <a > 
                                                <img *ngIf="user.profilePicture?.downloadURL!==undefined" class="w-10 h-10 rounded-full" [src]="user.profilePicture?.downloadURL"alt="">
                                                <div *ngIf="user.profilePicture?.downloadURL===undefined"  class=" w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-slate-700 mx-auto">
                       
                                                    <svg class=" w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                                                </div>   
                                            </a>
                                            <div>
                                                <button type="button" class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1.5 ">Follow</button>
                                            </div>
                                        </div>
                                        <p class="text-base font-semibold leading-none text-gray-800 dark:text-gray-200">
                                            <a>{{user.firstName}} {{user.lastName}}</a>
                                        </p>
                                        <p class="mb-3 text-sm font-normal dark:text-gray-200">
                                            <a class="hover:underline">{{user.email}}</a>
                                        </p>
                                        <p class="mb-4 text-sm text-gray-800 dark:text-gray-200">{{user.profileCredential}}</p>
                                        <ul class="flex text-sm">
                                            <li class="mr-2">
                                                <a  class="hover:underline">
                                                    <span class="font-semibold text-gray-800 dark:text-gray-200">{{user.following}} </span>
                                                    <span>Following</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="hover:underline">
                                                    <span class="font-semibold text-gray-900 dark:text-gray-200">{{user.followers}} </span>
                                                    <span>Followers</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
            
                            </div>
                           
                      
                        </div>
                        <p class="pl-4 text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2023-12-15" title="December 15th, 2023">{{timeElapsed}}</time></p>
                          
                       
                    </div>
                  
                </address>
                
        
            </header>
            <div *ngIf="currentSolution.audioFile">
                <app-audio-player [audioFile]="currentSolution.audioFile"></app-audio-player>
            </div>

            <p class="text-gray-900 dark:text-white" [innerHTML]="currentSolution.content">
                
            </p>
            <section class="mt-6 not-format">
                <div class="flex justify-between items-center mb-6">
                    <h2  *ngIf="comments"class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion ({{comments.length}})</h2>
                    <h2  *ngIf="!comments"class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion (0)</h2>
                </div>
                <form class="mb-6">
                    <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                        <label for="comment" class="sr-only">Your comment</label>
                        <textarea id="comment" rows="6"
                            class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                            placeholder="Write a comment..." required></textarea>
                    </div>
                    <button type="submit"
                        class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-blue-800">
                        Post comment
                    </button>
                </form>
            </section>
            <article *ngFor="let comment of comments ; let i =index" class="p-6 mb-6 text-base bg-white rounded-lg dark:bg-gray-900">
                <footer class="flex justify-between items-center mb-2">
                    <div class="flex items-center">
                       
                       
                        <div class="inline-flex items-center mr-3 font-semibold text-sm text-gray-900 dark:text-white">
                            <img
                            *ngIf="commentUserProfilePicturePath[i]" 
                                class="mr-2 w-6 h-6 rounded-full"
                               [src]="commentUserProfilePicturePath[i]"
                               alt="">
                             
                            <div *ngIf="!commentUserProfilePicturePath[i]">
                                <svg class=" w-8 h-8 me-2 rounded-full" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg> 
                       
                            </div>
                            <h1 class="text-sm text-gray-600 dark:text-gray-400" >{{commentUserNames[i]}}</h1>
</div>
                        <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-02-08"
                                title="February 8th, 2022">{{commentTimeElapsed[i]}}</time></p>
                    </div>
                    <button id="dropdownComment1Button" data-dropdown-toggle="dropdownComment1"
                        class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:text-gray-400 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        type="button">
                          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                              <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                          </svg>
                        <span class="sr-only">Comment settings</span>
                    </button>
                    <!-- Dropdown menu -->
                    
                </footer>
                <p class ="text-gray-500 dark:text-gray-400">{{comment.content}}</p>
                
            </article>

        </article>
    </div>
</main>




<app-chatbot></app-chatbot>
