<div class="dark:bg-slate-900 min-h-screen">
    <div *ngIf="!isLoggedIn">
        <app-navbar></app-navbar>
      </div>
      <div *ngIf="isLoggedIn">
        <app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [lastName]="this.auth.currentUser.lastName" [path]="'home'" ></app-navbar>
      </div>
    
    
    
    <main class="mt-20 pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased ">
        <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
            <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
                <header class="mb-4 lg:mb-6 not-format">
                    <address class="flex items-center mb-6 not-italic">
                        <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                            <img class="mr-4 w-16 h-18 rounded-full" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/avatar%2FNG73q08IBlW39QiC3CzwTGe6zVo2-medard-jpeg.jpeg?alt=media&token=111999e5-6382-4868-b6df-0db2d06ba419" alt="Jese Leos">
                            <div>
                                <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Medard Gabel</a>
                                <p class="text-base text-gray-500 dark:text-gray-400">EarthGame Inc Director, NewWorld Game Designer</p>
                                <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2023-12-15" title="December 15th, 2023">January. 10, 2025 (Edited)</time></p>
                            </div>
                        </div>
                    </address>
                    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">Global Solutions Libraries/Databases:
                        Options for Changing the World</h1>
                
                </header>
                    <p class="text-md mb-2 text-gray-900 dark:text-white">
                        Check out the following for ideas, alternatives, technology for possible use in your strategy:
                   </p>
              

                     <figure class="mt-6 mb-4"><img src="https://i.postimg.cc/Z5Pp7CHs/A-vibrant-and-futuristic-library-scene-showcasing-various-global-solution-databases-and-libraries-T.jpg" alt="">
                    <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Global Solutions Lab 2019 Final Presentation at the UN</figcaption> -->
                    </figure>
   
                <ul class="list-disc mb-2 text-gray-900 dark:text-white">
                    <li><a target="_blank" href="https://designsciencelab.com/global-solutions-database/" class="font-bold text-blue-600 underline">Global Solutions Database</a> Global Solutions Database of solutions to global problems and achieving the SDGs.</li>
                    <li><a target="_blank" href="https://drawdown.org/solutions/table-of-solutions" class="font-bold text-blue-600 underline">Project Drawdown</a> Drawdown Solutions Library of climate change related strategies.</li>
                    <li><a target="_blank" href="https://www.undp.org/tag/solutions-mapping" class="font-bold text-blue-600 underline">UNDP— Accelerator Labs Network</a> Accelerator Labs Network</li>

                        <li><a target="_blank" href="https://sdgs.un.org/partnerships/action-networks/acceleration-actions?_gl=1*1wg0b1b*_ga*MTk1ODEwMzcwNC4xNzE1NzEwMDE5*_ga_TK9BQL5X7Z*MTcxNTcxMDAxOS4xLjEuMTcxNTcxMDA3Ni4wLjAuMA.." class="font-bold text-blue-600 underline">UN DESA UN System SDG Implementation</a> SDG Acceleration Actions accelerate SDG implementation by governments and any other
                            non-state actors - individually or in partnership.</li>
                  

                                <li><a target="_blank" href="https://www.engineeringforchange.org/solutions/products" class="font-bold text-blue-600 underline">Engineers for Change</a> The Solutions Library is an open-access and curated knowledge database
                                    showcasing technology-driven solutions addressing sustainable development
                                    challenges in resource-constrained settings.</li>    
                                    
                            <li><a target="_blank" href="https://www.ai-for-sdgs.academy/" class="font-bold text-blue-600 underline">AI for Sustainable Development Goals (AI4SDGs) Think Tank</a> A global collection of AI projects and proposals that impacts UN Sustainable Development Goals, both positively and negatively.</li>
 
                            <li><a target="_blank" href="https://www.engineeringforchange.org/solutions/products" class="font-bold text-blue-600 underline">Engineers for Change</a>The Solutions Library is an open-access and curated knowledge database
                                showcasing technology-driven solutions addressing sustainable development
                                challenges in resource-constrained settings.</li>
                            <li><a target="_blank" href="https://systemschangelab.org/shifts" class="font-bold text-blue-600 underline">World Resources Institute— Systems Change Lab</a> Systems Change Lab identifies more than 70 critical changes – what they call shifts
                                – that can help deliver systemwide transformations. These shifts are changes within
                                a system, and when multiple shifts work together, they can spur transformational
                                change.</li>
                            <li><a target="_blank" href="https://storytracker.solutionsjournalism.org/" class="font-bold text-blue-600 underline">Solutions Story Tracker</a> Curated database of reporting on responses to social problems: 12,900 stories
                                produced by 6,000 journalists and 1,600 news outlets from 187 countries, growing
                                every day.</li>
                            <li><a target="_blank" href="https://unsdsn.globalclimatehub.org" class="font-bold text-blue-600 underline">UN SDSN Global Climate Hub</a> Provides science-based recommendations for combating climate crisis and
                                preventing further deterioration. Uses extensive data, knowledge, and technologies
                                provided by experts in various fields to implement country-specific action plans. Nine
                                focus areas of the SDSN GCH represent the stages that a country should go though
                                in order to achieve the design and implementation of detailed climate neutrality and
                                climate resilience pathways.</li>
                            <li><a target="_blank" href="https://www.worldbank.org/en/news/immersive-story/2023/12/01/climate-solutions-that-work" class="font-bold text-blue-600 underline">Climate Solutions that Work</a> The World Bank is the largest multilateral funder of climate investments in developing
                                countries ($38.6 billion in 2023). This site identifies ‘gamechangers’– climate
                                investments that are radically transforming sectors and building more resilient
                                communities.</li>
                            <li><a target="_blank" href="https://climatehealthevidence.org/case-studies" class="font-bold text-blue-600 underline">Evidence Bank (Health and net-zero solutions)</a> or <a target="_blank" href="https://climatehealthevidence.org/data-explorer" class="font-bold text-blue-600 underline">Data Explorer</a>  Brings together evidence on climate mitigation actions with the largest potential
                                health benefits across sectors. Evidence bank highlights case studies of
                                implemented solutions with measured climate and health benefits.</li>
                            <li><a target="_blank" href="https://weadapt.org" class="font-bold text-blue-600 underline">weADAPT</a> Up-to-date, dynamic space to accelerate urgently needed action on climate change
                                adaptations.</li>
                            <li><a target="_blank" href="https://www.changemakers.com/en/challenge/green-changemakers?utm_medium=email&amp;utm_source=Ashoka&amp;utm_campaign=3316379_Winners%E2%80%99%20Announcement%20%2B%20Insights%20-%20GCC%202023&amp;dm_i=2ILH,1Z2XN,346XW4,70295,1" class="font-bold text-blue-600 underline">Ashoka Changemakers/Green Changemakers Challenge</a> 
                                     And <a target="_blank" href="https://www.changemakers.com/en/challenge/green-changemakers/2023/winners-and-finalists?utm_medium=email&amp;utm_source=Ashoka&amp;utm_campaign=3316379_Winners%E2%80%99%20Announcement%20%2B%20Insights%20-%20GCC%202023&amp;dm_i=2ILH,1Z2XN,346XW4,70295,1" class="font-bold text-blue-600 underline">More</a></li>

                                <li><a target="_blank" href="https://www.mckinsey.com/featured-insights/sustainable-inclusive-growth/chart-of-the-day/removing-carbon-one-solution-at-a-time?cid=other-eml-chr-mip-mck&amp;hlkid=82c8ad2202624926ba159007599c30aa&amp;hctky=1113072&amp;hdpid=b37c472a-3613-4292-89ac-9e8e99ec13bd" class="font-bold text-blue-600 underline">McKinsey &amp; Company</a> Removing carbon, one solution at a time.</li>
                                <li><a target="_blank" href="https://www.youtube.com/watch?v=8gptlZ2kiqw" class="font-bold text-blue-600 underline">Transformative Solutions for Achieving Gender Equality</a></li>
                                <li><a target="_blank" href="https://www.unsdsn.org/sdsn-and-siemens-gamesa-announce-e-gora-the-energy-marketplace-as-the-winner-of-the-universities-for-goal-13-competition-at-icsd-2023?utm_source=SDSN&utm_campaign=637c7bbdb9-EMAIL_CAMPAIGN_2022_04_22_09_48_COPY_01&utm_medium=email&utm_term=0_2302100059-637c7bbdb9-179257408&mc_cid=637c7bbdb9&mc_eid=c3dba9eb56" class="font-bold text-blue-600 underline">Climate Solutions:</a> SDSN and Siemens Gamesa &#39;E-Gora: The Energy
                                    Marketplace&#39; as the Winner of the ‘Universities for Goal 13’ Competition.</li>
                                <li><a target="_blank" href="https://sdgs.un.org/sites/default/files/2022-03/SDGs%20Good%20Practices%20-%20second%20edition%20-%20FINAL%20FEB092022.pdf" class="font-bold text-blue-600 underline">SDG Good Practices:</a> A compilation of success stories and lessons learned in SDG implementation.</li>
                                <li> <span class="font-bold">UpLink Innovation Ecosystem:UpLink Innovation Ecosystem:</span> UpLink is an open innovation platform of the World Economic Forum. Its partner ecosystem
                                    helps us drives innovation, sustainability, and positive change for people and planet. It believes
                                    that real progress is achieved through collaboration. Partnerships extend across the
                                    sustainability spectrum, including corporates, governments, multilaterals, international
                                    organizations, philanthropists, accelerators, impact investors, and experts. Together, they strive
                                    to drive an entrepreneur revolution, where innovation is at the heart of accelerating progress
                                    on the sustainable development agenda.
                                    <br>
                                    <a class="font-bold text-blue-600 underline">For entrepreneurs with innovative solutions</a>
                                    <br>
                                    <a  class="font-bold text-blue-600 underline">For impact investors and entrepreneur supporting organizations</a>
                                    <br>
                                    <a target="_blank"  href="https://uplink.weforum.org/uplink/s/partners" class="font-bold text-blue-600 underline">For partners accelerating impact</a>
                                </li>
                                <p class="font-extrabold my-2">WIPO GREEN </p>
                                <li> WIPO <a target="_blank" href="https://www.wipo.int/en/web/green-technology-book" class="font-bold text-blue-600 underline">Green Technology Book (PDF)</a> The Green Technology Book looks at
                                    technologies responding to some of the critical environmental challenges of our
                                    time.</li>
                                <ul class=" ml-4 list-disc mb-2 text-gray-900 dark:text-white">
                                    <li> <a target="_blank" href="https://www.wipo.int/web-publications/green-technology-book-energy-solutions-for-climate-change/en/index.html" class="font-bold text-blue-600 underline">Energy edition</a> 
                                    </li>
                                    <li> <a target="_blank" href="https://www.wipo.int/publications/en/details.jsp?id=4696" class="font-bold text-blue-600 underline">Climate Migration edition</a> 
                                    </li>
                                    <li> <a target="_blank" href="https://www.wipo.int/publications/en/details.jsp?id=4696" class="font-bold text-blue-600 underline">Adaptation edition </a> (climate-change impact on agriculture and forestry,
                                        the water sector and in cities).
                                    </li>
                                </ul>
                                <li>  <a target="_blank" href="https://wipogreen.wipo.int/wipogreen-database/database" class="font-bold text-blue-600 underline">WIPO GREEN Database of Needs and Green Technologies</a></li>
                                <p class="font-extrabold my-2">UN Sustainable Energy for All: </p>
                                <li> <a target="_blank" href="https://www.seforall.org/partners/energy-efficiency-hub" class="font-bold text-blue-600 underline">Energy Efficiency Hub</a></li>
                                <li> <a target="_blank" href="https://www.seforall.org/partners/middle-east-hub" class="font-bold text-blue-600 underline">Middle East Hub</a></li>
  
                            </ul>
               
              
         
         
               
        </article>
        </div>
    
    
    </main>
    <app-footer></app-footer>
    </div>