<div class="dark:bg-slate-900 min-h-screen ">

  <div *ngIf="!isLoggedIn">
    <app-navbar></app-navbar>
  </div>
  <div *ngIf="isLoggedIn">
    <app-navbar [sideBarSmall]="true" [sideBarBig]="false" [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [lastName]="this.auth.currentUser.lastName" [path]="'home'" ></app-navbar>
  </div>

    
<div class="flex flex-col lg:flex-row mt-20">
    <!-- Main content -->
    <div class="w-full lg:w-3/4 p-4">
    <main class=" pt-4 pb-16 lg:pt-8 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
        <div  class="flex justify-between px-4 mx-auto max-w-screen-xl ">
            <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">

                
                    <header   class="mb-4 lg:mb-6 not-format">
                        <address class="flex items-center mb-6 not-italic">
                            <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                                <img class="mr-4 w-20 h-18 rounded-full" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/avatar%2Flhf54MEukyMpSfk18xVBpWs1FCH3-ed-avatar.png?alt=media&token=cdfaa91c-5e77-4a3c-a49c-8d7b8a2f5a7d" alt="Edmond Mbadu">
                                <div>
                                    <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Edmond Mbadu</a>
                                    <p class="text-base text-gray-500 dark:text-gray-400"> NewWorld Game Designer</p>
                                    <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2024-04-05" title="April 5th, 2024">April. 5, 2024</time></p>
                                </div>
                            </div>
                        </address>
                        <h1 class="mb-4 text-2xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">How To Use NewWorld Game </h1>
                    
                    </header>
                   
                        <p class="text-md mb-2 text-gray-900 dark:text-white">
                            This is a cheatsheet of everything in the NewWorld Game web application. If there is something that you wish to do but is not included here, please follow this <a target="_blank" class="text-blue-400 underline" href="https://docs.google.com/document/d/1viQkEEJraFttVNKpgid_hIj0C_NHrSt-4v8cnAi-VWI/edit"> link</a> and add  your suggestion. 
                       </p>
                       <div id="create-account"  #section>
                            <figure class="mt-6 mb-6"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fhow-to-use-nwg.png?alt=media&token=812c30df-724c-4418-ba84-dad8af91c5bf" alt="">
                            <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">The evaluation slider</figcaption> -->
                            </figure>
                           
                        

                            

                            
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">1. Create an Account </h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                    To Create an account click on:
                                    <a class="text-blue-400 underline" routerLink="/welcome">Get Started</a>
                                    at the very start of the landing page and follow the steps (enter your first name, last name, email, and password (twice), etc). 

                                   At the end, an email will then be sent to you to verify your account.
                               </p>

                              
                        </div>

                        <div id="login"  #section>
                        
                            <figure class="mt-6 mb-6"><img class="h-[25rem]" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/instructions%2Fcreate-account.png?alt=media&token=9780ce1a-d858-4015-bae1-aff706e82fa1" alt="">
                                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">The evaluation slider</figcaption> -->
                                </figure>
                        

                            

                            
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">2. Sign In </h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                    Once you have verified your email, you can now Sign In to your account (Check your spam in case you do not see the verification email).
                                </p>
                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                    To Sign In go to:


                                    <a class="text-blue-400 underline" routerLink="/login">Sign In</a>
                                    and enter your  email, and password. 

                                    Voila, that is all you need to start developing solutions.
                                </p>
                             

                           
                        </div>

                        <div id="home-page"  #section>
                        
                            <figure class="mt-6 mb-6 "><img   class="h-[25rem]" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Flogin-nwg.png?alt=media&token=5fafb490-1b08-4617-8ecd-f0f82e4f026a" alt="">
                                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">The evaluation slider</figcaption> -->
                                </figure>
                        

                            

                            
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">3. Home Page</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                    Once you have signed in to your account, you will see the Home Page. The home page is composed of two sections - the navigation bar on the left, and the ready-made challenges in the middle.
                                    <br>
                                    - The navigaiton bar on the left section has a menu bar that contains a list of everything you need to navigate the NewWorld Game.
                                    <br>
                                    - The ready-made challaneges in the middle, are challenges that you can use to jump right into solving problems without setting up your own solution. 
                                   
                                  
                                </p>
                                
                             

                              
                        </div>

                        <div id="start-solution"  #section>
                        
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/instructions%2Fhome-page.png?alt=media&token=3c64ce48-af56-4cb8-9207-142c1e4ac195" alt="">
                                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">The evaluation slider</figcaption> -->
                                </figure>

                        

                            

                            
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">4. Start a Solution</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                    To start a solution, go the right of your home screen, and click on "Start a Custom Challenge". You can also start ready-made solution by just selecting one of the solution in the middle.
                                   
                                    This will lead you to a page with 6 fields to fill. 
                                    <br>
                                    1. The first field is the general problem area your solution will be in
                                    
                                    <br>
                                    2. The second field is a working title for your solution.
                                    <br>
                                    3. The third field is a a feature image for your solution.
                                    <br>
                                    4. The fourth field is a description of your solution. Use Chat with Bucky if you need help describing your solution in few bullet points.
                                   For help on how to ask question to Chat with Bucky  <a class="text-blue-400 underline" routerLink="/blogs/nwg-ai"> see here.</a>
                                   <br>
                                   5. The fifth field is "Add Team Members". You can add emails of all the members you want to invite.
                                   The members will then receive an email asking them to join your solution. If an invited member does not have an account, they should create one to join you. 
                                   <br>
                                   6. This is not a field per say, but are randomly generated evaluators that will be evaluating your solution once it is submiited You can add more as well.
                                <br>
                                7. The last field is for Sustaimable Development Goals (SDGs) that correspond to your solution. 
                                <br>
                              
                                Once all fields completed, click "Launch Solution Lab" to start developping your soluion.
                    
                                  
                                </p>
                               
                             

                              
                        </div>

                        <div id="develop-solution"  #section>
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fstart-solution-nwg.png?alt=media&token=d69e9dab-4936-4da2-b3cd-25569296c068" alt="">
                                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">The evaluation slider</figcaption> -->
                                </figure>

                        

                            

                            
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">5. Develop a Solution</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                    Once you launch the solution, you are now ready to develop a solution.
                                    There are 5 steps - 4 development steps and one final review step.

                                    While developing your solution at each step, you can consult Chat With Bucky as a resource, or hover and click on the question mark next to each question to access 3 extra sources: 
                                   ( <a target="_blank" class="text-blue-400 underline" href="https://datacommons.org/"> Data Commons</a>,
                                   <a target="_blank"  class="text-blue-400 underline" href="https://datatopics.worldbank.org/sdgatlas/?lang=en/"> Atlas SDG</a>,
                                   <a target="_blank"  class="text-blue-400 underline" href="https://ourworldindata.org/sdgs"> SDG Tracker</a>
                                   )
                                   
                               
                              
                        </div>
                        <div id="d-define-problem"  #section>
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fdevelop-solution-nwg.png?alt=media&token=f30ac28f-7328-4b27-8448-e803d7df4885" alt="">
                                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">The evaluation slider</figcaption> -->
                                </figure>
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">5.1 Define the Problem State</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                    This is where you define the problem you are trying to solve. Each question allows you to dig deeper into the nature of the problem.
                                   To save your progress, scroll down and you will see the save button.
                                   <br>
                                    To go to the next step (step 2), scroll down and click next.
                               
                        </div>
                        <div id="d-envision"  #section>
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fdevelop-solution-nwg.png?alt=media&token=f30ac28f-7328-4b27-8448-e803d7df4885" alt="">
                                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">The evaluation slider</figcaption> -->
                                </figure>
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">5.2 Envision the Preferred State</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                    Now that you are done with, or have decided to move on from the first step, you are now on step 2: "Envision the Preferred State".
                                    This is where you envision where you want to get once your solution has been achieved/done.
                                    To track which step you are on, you can see where the red bar timeline points to.
                                    You can also move back and forth of each step by clicking at the appropriate step on the timeline.
                                   
                              
                              
                        </div>
                        <div id="d-plan"  #section>
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fenvision-problem-nwg.png?alt=media&token=64ded6d1-a7f5-4166-a32f-6846097db328" alt="">
                                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">The evaluation slider</figcaption> -->
                                </figure>
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">5.3 Develop Our Plan</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                   This is the third step on the list. This is where you develop a plan that will get you from the Problem State to the Preferred State.
                                   It contains 5 questions.
                           
                              
                        </div>
                        <div id="d-implementation"  #section>
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fdevelop-solution-nwg.png?alt=media&token=6425b559-18a2-4c22-adc8-c902185a79af" alt="">
                                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">The evaluation slider</figcaption> -->
                                </figure>
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">5.4 Implementation</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                  This step is all about implementation. The resources- financial, materials, humans, needed to implement the plan.
                                  
                              
                              
                        </div>
                        <div id="d-review"  #section>
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fimplementation-nwg.png?alt=media&token=b703282b-ecb6-4926-ae6f-1c3997ac21ae" alt="">
                                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">The evaluation slider</figcaption> -->
                                </figure>
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">5.5 Strategy Review </h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                  This is the final step where all the work comes together into a coherent whole
                                  
                        
                              
                        </div>

                        <div id="save-solution"  #section>
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fstrategy-review-nwg.png?alt=media&token=61d46c2b-16e1-4b26-8e88-c9c7362ca238" alt="">
                                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">The evaluation slider</figcaption> -->
                                </figure>
                        
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">6. Save Solution</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                  At each step, you can save your progess by simply scrolling to the bottom of the page and clicking save. 
                                  The saved work will be under Pending Solutions (highlited in red below) on the Home Page. You can then exit this page knowing that your progress has been saved.
                                 
                                  <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsave-solution-nwg.png?alt=media&token=cd0b24a5-b2fa-4607-9b16-a9b82fa7ad80" alt="">
                                    <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Save Button to Save Your Progress</figcaption>
                                    </figure>
                               
                                  
                              
                        </div>
                        <div id="submit-solution"  #section>
                            
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fpending-solution-nwg.png?alt=media&token=cd49d9aa-b97a-4d68-9a01-800f0a8e654b" alt="">
                                <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Pending Solution</figcaption>
                                </figure>
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">7. Submit Solution</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                  To Submit a solution, scroll to the bottom of the page ( Strategy Review Page) and submit your solution.
                                  
                             
                        </div>

                        <div id="view-solution"  #section>
                            
                          
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsubmit-solution-nwg.png?alt=media&token=b2150dff-ee6d-42f7-acbe-7f6201738528" alt="">
                                <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Submit Button Next to Save Solution Button</figcaption>
                                </figure>
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">8. View Solution</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                  To view your submitted solution, visit your Profile Page.

                                  <!-- On the Home Page, you can scroll down and inspect until you find your solution, or you can simply look at your solution in the search bar by typing the title of the solution.
                                  You can also, just sort the solution by clicking at the Sort By button at the very top (middle).
                                </p>
                                  <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fhome-page-nwg.png?alt=media&token=d620bf60-717c-4768-b9ea-3b01e123831e" alt="">
                                    <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Home Page</figcaption>
                                    </figure> -->
                                    <p class="text-md mb-2 text-gray-900 dark:text-white">
                                       Below is the Profile Page. To get there, click under your name at the top right, and then click on Profile.
                                       This will lead to your profile page where you can add different credentials, change your profile picture, and also where all solutions that have been developed by you or where you were a member are located. 
                                       To find your solution, you can also search for your solution on the search bar by title. 
                                 
                                      </p>
                                      


                        </div>

                        <div id="edit-solution"  #section>
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fprofile-nwg.png?alt=media&token=6e854638-a81e-4cb6-ae29-5b1e07fd5fc9" alt="">
                                <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Profile Page</figcaption>
                                </figure>
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">9. Edit Submitted Solution</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">
                                  To Edit a Submitted Solution, first you need to find that solution (See section 8 for that).
                                  Once you have located your solution, click on more to see the full view of the solution. 
                                  Once on the full view of the solution, you will see an Edit Button right below the title.
                                  click on Edit to edit your solution.

                                  You will then find that solution under My Workspace on the navigation bar.

                                 
                                </p>
                                  


                        </div>


                        <div id="delete-solution"  #section>
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fedit-solution-nwg.png?alt=media&token=ca0acd2b-a067-47b9-97eb-4aaef81bcdc5" alt="">
                                <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Solution View - Edit Solution</figcaption>
                                </figure>
                             
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">10. Delete Submitted Solution</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">

                                    There are cases where you want to delete your solution completely.
                                    The steps are similar to editing a solution.
                                    The only difference is that at the final stage, instead of Editing, click on Delete Solution. 
                                  

                                 
                                </p>
                              


                        </div>
                        <div id="delete-pending-solution"  #section>
                          <figure class="mt-6 mb-6 "><img   class="h-[25rem]" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fedit-solution-nwg.png?alt=media&token=ca0acd2b-a067-47b9-97eb-4aaef81bcdc5" alt="">
                            <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Solution View - Delete Solution</figcaption>
                            </figure>
                         
                              <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">11. Delete Pending Solution</h1> 

                              <p class="text-md mb-2 text-gray-900 dark:text-white">

                                You can also delete a pending solution. To do so, go to the pending section on the sidebar menu( see below), and click on the trash icon of the given solution to delete the pending solution. 

                               
                              </p>
                            


                      </div>

                        <div id="evaluate-solution"  #section>
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fdelete-pending-nwg.png?alt=media&token=7b0f1d4c-f316-4f0e-a2f2-725970e0370d" alt="">
                                <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Delete Pending Solution</figcaption>
                                </figure>
                             
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">12. Evaluate Submitted Solution</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">

                                   If you are somehow selected to evaluate a solution ( you will receive an email stating that you have been invited to evaluate a solution), you can find the solution at the right section on your Home Page under
                                  "Evaluate a Strategy" as well as on the sidebar menu under "Evaluations" ( see highlited section in red below)

                                 
                                </p>
                                  <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fstrategy-evaluation-nwg.png?alt=media&token=9cb1f55a-e307-4341-be97-97dec9f0dc5d" alt="">
                                    <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Solution Evaluation</figcaption>
                                    </figure>

                                    <p class="text-md mb-2 text-gray-900 dark:text-white">

                                       Once you click on the parcticular solution to evaluate you will be led to a screen where you can evaluate the solution.
                                       See <a target="_blank" class="text-blue-400 underline" routerLink="/evaluators">here</a>  on how to evaluate a solution properly. 
     
                                      <br>
                                      Once done, the evaluation will be appended to the solution as part of a grade that will be used for further consideration such as the tournament. So your grade is a very critical part of the proceess
                                     </p>


                        </div>

                        <div id="join-tournament"  #section>
                        
                            <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fevaluate-strategy-nwg.png?alt=media&token=49f67525-bd7f-4136-9be0-c73703c05f64" alt="">
                                <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Solution Evaluation Page</figcaption>
                                </figure>
                             
                                <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">13. Join a Tournament</h1> 

                                <p class="text-md mb-2 text-gray-900 dark:text-white">

                                 To join a tournament, you need to have at least two evaluations from a given solution and have an average of 9 from these evaluations.
                                 Assuming that these requirements are met,
                                 click on Join a Tournanment on the sidebar menu under "Tournament" on your Home page ( see picture below) to Join a tournament.

                                 
                                </p>
                                  <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fhome-page-nwg.png?alt=media&token=56bfb40b-394a-4df1-bcea-7ff261503e72" alt="">
                                    <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Join Tournament</figcaption>
                                    </figure>

                                    <p class="text-md mb-2 text-gray-900 dark:text-white">

                                      Once on that page, simply scroll to the bottom under "Your Solutions" and select the solution you want to send to the tournament and click "Add Solution To Tournament". You will be contacted if you win the tournament or if something is needed from you.
                                     Solutions that have been sent already to the tournament will then show up at  the top under "Tournaments Joined"
                                    </p>

                                

                        </div>
<!-- 
                        <div id="add-image"  #section>
                        
                          <figure class="mt-6 mb-6 "><img   class="h-[25rem]" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Ftournament-page-nwg.png?alt=media&token=dbe9892e-3f3d-4337-94a2-f679c34b267ed" alt="">
                            <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Tournament Page</figcaption>
                            </figure>
                           
                              <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">14. Add Image To  Text Editor</h1> 

                              <p class="text-md mb-2 text-gray-900 dark:text-white">
                                  To add an image to the text editor, you can drag and drop the desired image. However, this method is not advised since the dropped image has to be very small ( less than 100KB).
                                  To add an image of any size ( although do not abuse), go to discord and post your image to any channels of your choosing. If you need a channel  go  <a target="_blank" href="https://discord.gg/uNc3V5UV6d" class="text-blue-400 underline">here</a>  and post your image. After posting your image to a discord channel, right click and select <span class="text-blue-400 font-bold"> Copy Link</span>.
                                  Then go to the text editor, Insert ->Image->Source ( past the direct link here). You will then be able to resize the image at your choosing using your mouse.
                                  You can also use other providers as you choose ( e.g. dropbox, google drive), but the one suggested (discord) is quick and requires no setup.
                                 <span class="text-red-400">*Note that the images shared are public and should not contain sensible or private information. </span> 
                               
                              </p>
                              <figure class="mt-6 mb-6 "><img   class="" src="https://cdn.discordapp.com/attachments/1251611724788924437/1251691449557188659/Screenshot_2024-06-15_at_5.14.08_PM.png?ex=666f8000&is=666e2e80&hm=f4c64f155f6322b723ad8dd782a1fec0628416b80ab467086b6f8be2aa8d9b30&" alt="">
                                <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Discord image Posted</figcaption>
                                </figure>
                         


                      </div> -->

                      <div id="add-image"  #section>
                        
                        <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fjoin-tournament.png?alt=media&token=f1588c14-b13d-4c4b-ad08-71d108b9482a" alt="">
                          <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Tournament Page</figcaption>
                          </figure>
                         
                            <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">14. Add Image To  Text Editor</h1> 

                            <p class="text-md mb-2 text-gray-900 dark:text-white">
                                To add an image to the text editor, you can drag and drop the desired image. However, this method is not advised since the dropped image has to be very small ( less than 100KB).
                                To add an image of any size ( although do not abuse), go to this <a target="_blank" href="https://postimages.org/" class="text-blue-400 underline">link</a>  and upload your image by clicking on Choose Images.  Links will be generated; make sure to copy <span class="text-blue-400 font-bold"> Direct link</span>.
                                Then go to the text editor, and paste the link. You will then be able to resize the image at your choosing using your mouse.
                                You can also use other providers as you choose ( e.g. dropbox, google drive), but the one suggested (postimage) is quick and requires no setup.
                               <span class="text-red-400">*Note that the images shared are public and should not contain sensible or private information. </span> 
                             
                            </p>
                            <figure class="mt-6 mb-6 "><img   class="" src="https://i.postimg.cc/BbWFKbNh/Screenshot-2024-05-20-at-11-21-48-PM.png" alt="">
                              <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">postImage Site</figcaption>
                              </figure>
                             

                          

                               


                      </div>
                      
                      <div id="solution-details"  #section>
                        
                        <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://i.postimg.cc/Wb7PCKRz/Screenshot-2024-05-20-at-11-23-47-PM.png" alt="">
                          <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">PostImage Site Direct Link</figcaption>
                          </figure>
                         
                            <h1  class="my-4 text-2xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">15. Edit Solution Title & Invite Members</h1> 

                            <p class="text-md mb-2 text-gray-900 dark:text-white">
                              To edit the title of your solution, first you need to go the dashboard of that particular solution.
                              This can be found under the navigation bar on the left under "My Workspace".
                              Once on My Workspace, select the solution you want to edit. This will lead to a page as the one below. 

                              <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/blogs%2Fsolution-dashboard.png?alt=media&token=b88cd755-7ba4-42d6-a503-b609dd55df84" alt="">
                                <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Solution Dashboard</figcaption>
                                </figure>
                               Then select Solution Details. This will lead to a page where you can edit the title of the solution and invite members to join your solution.
                               <figure class="mt-6 mb-6 "><img   class="h-auto" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/blogs%2Fedit-title.png?alt=media&token=a6708473-70d8-49f5-970c-6280400e0ad1" alt="">
                                <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Solution Details</figcaption>
                                </figure>

                                Click on the pencil next to the title to edit the title. 
                                To invite members simply click on the (+) sign just below "Designers" and add the emails of the members you want to invite.
                                Similarly, you can remove members by clicking on the (-) below "Designers".
                                Note that adding or removing member can you only be done by the creator of the solution adding or removing members one at a time.
                               
                            </p>
                            <figure class="mt-6 mb-6 "><img   class="" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/blogs%2Fadd-member.png?alt=media&token=4ebf2998-eefd-49bb-9033-835dbc6c658d" alt="">
                              <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Add a Team Member</figcaption>
                              </figure>
                             

                          



                      </div>
                        
                      
      
      

               
        </article>
        </div>
    
     
    </main>
    </div>
    


    <div class="w-full lg:w-1/4 text-slate-600 dark:text-gray-200 mt-8 lg:mt-0">
        <div class="sticky top-28 p-4">
          <p class="text-lg font-bold mb-3">ON THIS PAGE</p>
          <nav>
            <ul class="space-y-2">
                <li>
                    <a (click)="scrollTo('create-account')"
                       [ngClass]="{ 'text-blue-500': currentActive === 0, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                       class="cursor-pointer">
                      <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
                      Create Account
                    </a>
                </li>

                <li>
                    <a (click)="scrollTo('login')"
                       [ngClass]="{ 'text-blue-500': currentActive === 1, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                       class="cursor-pointer">
                      <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
                      Sign In
                    </a>
                </li>
                <li>
                    <a (click)="scrollTo('home-page')"
                       [ngClass]="{ 'text-blue-500': currentActive === 2, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                       class="cursor-pointer">
                      <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
                     Home Page
                    </a>
                </li>
                <li>
                    <a (click)="scrollTo('start-solution')"
                       [ngClass]="{ 'text-blue-500': currentActive === 3, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                       class="cursor-pointer">
                      <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
                    Start Solution
                    </a>
                </li>
                <li>
                    <a (click)="scrollTo('develop-solution')"
                       [ngClass]="{ 'text-blue-500': currentActive === 4 || currentActive === 5 || currentActive === 6 || currentActive===7 || currentActive===8 || currentActive===9  , 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                       class="cursor-pointer">
                      <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
                    Develop Solution
                    </a>
                </li>
              <li class="relative">
                <!-- Main Section -->
              
                <ul class="pl-3 space-y-1">
                  <li class=" flex flex-col">

                    <a (click)="scrollTo('d-define-problem')"
                    [ngClass]="{ 'text-blue-500': currentActive === 5  , 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                       class="flex items-center cursor-pointer hover:text-gray-800 hover:dark:text-gray-100 ">
                       <svg class="w-2 h-2 text-gray-800 dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
                        </svg>
                     Define Problem
                     
                    </a>
                  </li>
                  <li>
                    <a (click)="scrollTo('d-envision')"
                    [ngClass]="{ 'text-blue-500': currentActive === 6  , 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                    class="flex items-center cursor-pointer hover:text-gray-800 hover:dark:text-gray-100 ">
                    <svg class="w-2 h-2 text-gray-800 dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
                     </svg>
                      Envision Preferred State
                    </a>
                  </li>
                  <li>
                    <a (click)="scrollTo('d-plan')"
                    [ngClass]="{ 'text-blue-500': currentActive === 7  , 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                    class="flex items-center cursor-pointer hover:text-gray-800 hover:dark:text-gray-100 ">
                    <svg class="w-2 h-2 text-gray-800 dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
                     </svg>
                      Develop Plan
                    </a>
                  </li>
                  <li>
                    <a (click)="scrollTo('d-implementation')"
                    [ngClass]="{ 'text-blue-500': currentActive === 8  , 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                    class="flex items-center cursor-pointer hover:text-gray-800 hover:dark:text-gray-100 ">
                    <svg class="w-2 h-2 text-gray-800 dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
                     </svg>
                      Implementation
                    </a>
                  </li>
                  <li>
                    <a (click)="scrollTo('d-review')"
                    [ngClass]="{ 'text-blue-500': currentActive === 9  , 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                    class="flex items-center cursor-pointer hover:text-gray-800 hover:dark:text-gray-100 ">
                    <svg class="w-2 h-2 text-gray-800 dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
                     </svg>
                      Strategy Review
                    </a>
                  </li>
                  <!-- Add more subsection items here -->
                </ul>
              </li>
              <li>
                <a (click)="scrollTo('save-solution')"
                   [ngClass]="{ 'text-blue-500': currentActive === 10, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                   class="cursor-pointer">
                  <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
                  Save Solution
                </a>
            </li>
              <li>
                <a (click)="scrollTo('submit-solution')"
                   [ngClass]="{ 'text-blue-500': currentActive === 11, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                   class="cursor-pointer">
                  <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
                  Submit Solution
                </a>
            </li>
            <li>
                <a (click)="scrollTo('view-solution')"
                   [ngClass]="{ 'text-blue-500': currentActive === 12, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                   class="cursor-pointer">
                  <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
                  View Your Solution
                </a>
            </li>
            <li>
                <a (click)="scrollTo('edit-solution')"
                   [ngClass]="{ 'text-blue-500': currentActive === 13, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                   class="cursor-pointer">
                  <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
                 Edit Submitted Solution
                </a>
            </li>
            <li>
                <a (click)="scrollTo('delete-solution')"
                   [ngClass]="{ 'text-blue-500': currentActive === 14, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                   class="cursor-pointer">
                  <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
                 Delete Submitted Solution
                </a>
            </li>
            <li>
              <a (click)="scrollTo('delete-pending-solution')"
                 [ngClass]="{ 'text-blue-500': currentActive === 15, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                 class="cursor-pointer">
                <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
               Delete Pending Solution
              </a>
          </li>
            <li>
                <a (click)="scrollTo('evaluate-solution')"
                   [ngClass]="{ 'text-blue-500': currentActive === 16, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                   class="cursor-pointer">
                  <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
                 Evaluate Submitted Solution
                </a>
            </li>
            <li>
                <a (click)="scrollTo('join-tournament')"
                   [ngClass]="{ 'text-blue-500': currentActive === 17, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                   class="cursor-pointer">
                  <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
                 Join Tournament
                </a>
            </li>
            <li>
              <a (click)="scrollTo('add-image')"
                 [ngClass]="{ 'text-blue-500': currentActive === 18, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
                 class="cursor-pointer">
                <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
                Add Image To  Text Editor
              
              </a>
          </li>
          <li>
            <a (click)="scrollTo('solution-details')"
               [ngClass]="{ 'text-blue-500': currentActive === 19, 'hover:text-gray-800 hover:dark:text-gray-100': currentActive !== 1 }"
               class="cursor-pointer">
              <span class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-full bg-blue-500"></span>
             Edit Title & Invite or Remove Members
            
            </a>
        </li>
       
              <!-- ... other sections ... -->
              
              <!-- ... more sections ... -->
            </ul>
          </nav>
        </div>
      </div>
      
  
</div>
<app-footer></app-footer>
</div>
  