.active {
    color: #2563eb; /* blue-600 */
    font-weight: bold;
  }
  
  .inactive {
    color: #6b7280; /* gray-500 */
    &:hover {
      color: #4b5563; /* gray-600 */
      font-weight: medium;
    }
  }