
:root {
    --after-background-color: white; /* Default background color */
    --cursor-color:rgb(15 118 110);
}




.animated-text span{
    position: relative;
  

}

.animated-text span::before{
    content: "";
    /* animation: words 20s infinite; */
}


.animated-text span::after{
    content:"";
    position: absolute;
    width: calc(100% + 8px);
    height: 50px;
   background-color: var(--after-background-color);
    border-left: 4px solid var(--cursor-color);
    color: rgb(15 118 110);
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

/* Apply animations only for large screens */
/* @media (min-width: 992px) { */
    .animated-text span::before {
        animation: words 20s infinite;
    }

    .animated-text span::after {
        animation: cursor .8s infinite, typing 20s steps(14) infinite;
    }
/* } */


/* Styles for OS dark mode preference */
/* @media (prefers-color-scheme: dark) {
    .animated-text span::before,
    .animated-text span::after {
        background-color: rgb(15 23 42);
        color: rgb(15 118 110);
        border-color: rgb(15 118 110);
    }
} */

/* Manual dark mode toggle using .dark class */
.dark .animated-text  span::before,
.dark .animated-text span::after {
    background-color: black ;
    color: rgb(15 118 110) ;
    border-color: rgb(15 118 110) ;
}


@keyframes cursor {
    to{
        border-left: 2px solid transparent;
    }
}

@keyframes words {
    0%,20%{
        content: "Design";
    }
    21%,40%{
        content: "Write";
    }
    41%,60%{
        content: "Envision";
    }
    61%,80%{
        content: "Build";
    }
    81%,100%{
        content: "Share";
    }
    
}

@keyframes typing {
  
  
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
  
}

/* .rotate {
    animation: rotation 30s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } */

  .rotate {
    animation: rotation 30s linear forwards;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

