<div class="dark:bg-slate-900 min-h-screen min-w-max ">
<app-navbar></app-navbar>

<section id="main ">

    <div class=" testing dark:terrain container flex flex-col-reverse lg:flex-row items-center px-24 mx-auto space-y-0 mt-30 lg:justify-between justify-center">
        <div class="flex flex-col  mb-32 text-center space-y-12 lg:w-1/2 ">
            <h1 class="animated-text max-w-md mt-10 dark:text-white text-worldsecond   text-3xl font-extrabold md:text-4xl md:text-left">
                <span class="text-teal-700  "></span> 
                <h2 class="mt-2">solutions to world problems with people around the world.</h2> 
                <!-- A global problem solving platform for everyone everywhere -->

            </h1>
            <!-- <p class="max-w-sm text-center text-gray-500 md:text-left">
                Design Science methodology inspired by the work of Medard Gabel. 
                Solutions for the ever changing world continuously evolving.
            </p> -->
            <p class="max-w-md text-xl italic text-center lg:text-left text-gray-400">
                "We are called to be the architects of the future, not its victims."
               
                <span class=" px-2 not-italic"> - Buckminster Fuller</span>

            </p>
            <a routerLink="/welcome" class=" lg:max-w-xs p-5 px-6  text-white border- bg-teal-700 rounded-full hover:bg-teal-800"> Get Started</a>
                

        </div>

        <div class="lg:w-1/2 px-6 lg:py-36 pt-36 max-w-sm lg:max-w-lg " >

            <img class=" rotate rounded-full " src="../../../assets/img/earth-triangle.png" alt="">
        </div>


    </div>

</section>


<section id="design-science">
    <div class="container flex flex-col items-center max-w-7xl px-4 mx-auto space-y-12 md:space-y-0 lg:flex-row justify-between mb-10">
        <div class=" flex flex-col lg:w-1/2 md:mb-8">
            <img class="max-w-md w-96 rounded-xl  md:px-6 lg:px-0"  src="../../../assets/img/design-science.png" alt="">

        </div>


        <div class="flex flex-col space-y-5  lg:w-1/2">

            <h2 class="dark:text-white max-w-md text-3xl lg:text-4xl text-worldsecond font-bold text-center lg:text-left">
                Design Science
            </h2>

            <p class="max-w-xl text-xl text-center md:text-left text-gray-400 ">
                Design Science is a method for developing life preserving and enhancing solutions to society&#39;s
                problems. This methodology is inspired by the work of Buckminster Fuller and others
                through their work on the World Game and Global Solutions Lab— on which the NewWorld
                Game is based.
            </p>
           


        </div>

        

    </div>


</section>
<section id="intro-video">
    <div class="container flex flex-col items-center max-w-7xl px-4 mx-auto space-y-12 md:space-y-0 lg:flex-row justify-between mb-24 ">
        <div class="flex flex-col space-y-5  lg:w-1/2 space-x-4">

            <h2 class="dark:text-white max-w-md text-3xl lg:text-4xl text-worldsecond font-bold text-center lg:text-left">
               Intro Video
            </h2>

            <p class="max-w-xl text-xl text-center md:text-left text-gray-400 ">
               Watch a short intro video about the NewWorld Game
            </p>
           


        </div>

        <div class="flex flex-col mx-auto my-8  lg:w-1/2 md:mb-8">
            <!-- <iframe height="480" src="https://youtu.be/ofmmHOR6n4s" title="NewWorld Game: Players Wanted" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
            <iframe  height="480" src="https://www.youtube.com/embed/ofmmHOR6n4s" title="NewWorld Game: Players Wanted" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

    </div>


</section>

<section id="sdgs" class="md:mt-24">

    <div class="items-center mt-8 max-w-7xl container flex flex-col lg:flex-row mx-auto space-y-12"> 

        <div class="flex flex-col lg:w-1/2 space-y-5 ">
            <h2 class="dark:text-white max-w-md  lg:text-4xl  text-worldsecond text-3xl font-bold text-center lg:text-left">

                SDGs you can achieve

            </h2>

            <p class="max-w-xl text-xl text-center lg:text-left text-gray-400">
                The UN’S Sustainable Development Goals (SDGs) aim to transform our world. They are a call to
                action to end poverty and inequality, protect the planet, and ensure that all people enjoy
                health, justice and prosperity. The NewWorld Game enables you to develop ways of achieving
                them.
            </p>
            <!-- <a routerLink="/welcome" class=" lg:max-w-xs p-5 px-6  text-white text-center bg-teal-700 rounded-full hover:bg-teal-800"> Get Started</a> -->
            <a target="_blank" href="https://buy.stripe.com/8wM5lR1IK2og8r6000" type="button" class="text-white bg-gradient-to-r from-teal-400 via-teal-500 lg:max-w-xs to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-full text-md px-10 py-5 text-center me-2 mb-2">Support NewWorld Game</a>

        </div>


        <div class=" flex flex-col lg:w-1/2">
            <img class="lg:max-w-md max-w-sm w-3/2 rounded-lg  md:px-6 lg:px-0"  src="../../../assets/img/sdgs.png" alt="">

        </div>

    </div>

    <!-- <div class=" container items-center justify-center flex flex-col lg:flex-row mx-auto my-16 ">
        <a target="_blank" href="https://buy.stripe.com/8wM5lR1IK2og8r6000" type="button" class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-full text-sm px-10 py-5 text-center me-2 mb-2">Support NewWorld Game</a>
    </div> -->



</section>


<app-footer></app-footer>
</div>



