<div class="dark:bg-slate-900 min-h-screen min-w-full ">
<app-navbar></app-navbar>


<main class="mt-24 pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img class="mr-4 w-16 h-18 rounded-full" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/avatar%2FNG73q08IBlW39QiC3CzwTGe6zVo2-medard-jpeg.jpeg?alt=media&token=111999e5-6382-4868-b6df-0db2d06ba419" alt="Jese Leos">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Medard Gabel</a>
                            <p class="text-base text-gray-500 dark:text-gray-400">EarthGame Inc Director, NewWorld Game Designer</p>
                            <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2023-12-15" title="December 15th, 2023">Feb. 24, 2024</time></p>
                        </div>
                    </div>
                </address>
                <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">NewWorld Game Evaluator</h1>
            
            </header>
                <p class="text-md mb-2 text-gray-900 dark:text-white">
                    When you sign up to play the NewWorld Game you sign up for two things. 
                    One is to develop a solution, alone or with a Team, that gets evaluated. 
                    The other important role you sign up for is to be an Evaluator of one or more solutions developed by others. 
                    Your role as part of an Evaluator Team is to look over the solution developed by another Team, and as best you can, come up with ways to improve it. The reason for this— we have learned (and research backs this up) that the more diverse the perspectives, knowledge, skills, and cultures there are working on a strategy the better the results. You being an Evaluator is a way of making solutions better. As an Evaluator you learn a lot, and become a valuable (very part-time) member of another Design Team— seeing things that they may have missed, and suggesting ways they can strengthen their solution, making it stronger, and more likely to get implemented in the real world.
               </p>
          
               <h1 class="text-xl my-4 font-bold text-gray-900 dark:text-white">Numerical Evaluations— Sliders</h1>
            <p class="mb-2 text-gray-900 dark:text-white">NewWorld Game has a set of measures that are used to evaluate a solution. These
                include the following:
                
            </p>
                 <figure class="mt-6 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fevaluation-image.png?alt=media&token=027bd1ba-fdbc-4fc7-8475-5aa46f0181d0" alt="">
                <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">The evaluation slider</figcaption>
                </figure>
            <ul class="list-disc mb-2 text-gray-900 dark:text-white">
                <li>Does the solution <span class="font-bold">achieve the Preferred State</span> </li>
               <li> Is it <span class="font-bold">technologically feasible</span> — does the solution use current technology (no
                magic wands)</li>
                <li>Is it  <span class="font-bold">ecologically positive</span> — does it do no harm, preserve, or better,
                    regenerate the environment (destroying the environment is no solution)</li>
                <li> <span class="font-bold">Economical</span> — is it affordable, is there a reasonable source for funding the
                    strategy (no Santa Claus)</li>
                <li> <span class="font-bold">Equitable</span>  — is it fair, just, builds social cohesion, reduces wealth disparities
                    (no subsidies to billionaires)</li>
                <li>  <span class="font-bold">Understandable</span> — is it straight-forward, organized so it can be understood
                    by a high school student (and if you are a HS student—by your parents)</li>
              </ul>
           
          
     
     
            <p class="mb-2 text-gray-900 dark:text-white">
                Each of the above has a sliding scale of 1 to 10. Move the slider to the number you
                think is an accurate representation of where the solution is relative to the
                evaluation criteria. (1 = no, not viable; 5 = could be, but needs work: 10 = yes,
                let’s do it, now)
            </p>
            <!-- <h3 class="my-4 text-xl font-bold leading-tight text-gray-900 lg:mb-6 lg:text-xl dark:text-white">2. Your Role</h3> -->
            <p class="mb-2 text-gray-900 dark:text-white">
                This quantitative scoring system is very important. But more important is your
                qualitative feedback and suggestions for improvements to the solution. You add
                these in the “Comment” windows. If you put in a low score for a solution on any
                criteria there is a good reason for it. Put that/those reason(s) in the Comments. The
                designers who developed the solution will use your comments to improve their
                solution—and re-submit it to be evaluated again. When it reaches a high enough
                numerical level, it is eligible to be submitted to the NewWorld Tournament.
              </p>
            
              <h1 class="text-xl my-4 font-bold text-gray-900 dark:text-white">Qualitative Evaluations— Comments</h1>
              <p class="mb-2 text-gray-900 dark:text-white">This quantitative scoring system is very important. 
                But more important is your qualitative feedback and suggestions for improvements to the solution. 
                You add these in the “Comment” windows. If you put in a low score for a solution on any criteria there is a good reason for it. Put that/those reason(s) in the Comments. The designers who developed the solution will use your comments to improve their solution—and re-submit it to be evaluated again. When it reaches a high enough numerical level, it is eligible to be submitted to the NewWorld Tournament.
              </p>
           
    </article>
    </div>

 
</main>
<app-footer></app-footer>
</div>