@keyframes flashBackground {
  0% {
    background-color: #48bb78;
  } /* Tailwind green-500 */
  100% {
    background-color: inherit;
  }
}

.flash-animation {
  animation: flashBackground 2s;
}
.share {
  z-index: 1000;
}
