    <!-- posts -->
    <div class="my-2">
        <div class=" w-fit bg-white p-4 rounded-lg shadow-lg">
            <div *ngIf="solution" class="flex  pb-10" [routerLink]="['/user-profile',solution.authorAccountId]">
                <div *ngIf="user">
                    <img *ngIf="!user.profilePicture ||user.profilePicture.downloadURL ===''" [src]="avatarNoPicturePath" class="w-16 flex-nowrap rounded-full"  alt="">
                    <img *ngIf="user.profilePicture && user.profilePicture.downloadURL!==''" [src]="user.profilePicture.downloadURL" class="w-16 flex-nowrap rounded-full" alt="" >
                </div>
                <h1 *ngIf="user" class=" px-2  font-bold ">{{user.firstName}} {{user.lastName}}  <br> <span class="text-gray-500 font-light text-sm"> {{user.profileCredential}} . {{timeElapsed}}</span></h1>  
                
            </div>
            <div class="pb-4">
                <h1 *ngIf="solution" class="text-center text-xl font-bold">{{solution.title}}</h1>
            </div>
        
            <div class="max-w-xl">

                <div>
                   
                <p class="p-2" *ngIf="!full" [innerHTML]="solution.content?.slice(0,250)+'...'"></p> 
                    <a   *ngIf="!full" (click)="showLessOrMore()" ><span class="text-blue-800 hover:underline" >(more)</span></a> 
                </div>
                  
                    

                    <p class="p-2 font-Nunito" *ngIf="full" [innerHTML]="solution.content"></p>

                       
                      <a *ngIf="full"  (click)="showLessOrMore()" ><span class="text-blue-800" > show less</span> </a>   

                    
            </div>

            <!-- Comments tableau -->
            <div class="flex flex-nowrap items-center">
               
                <div class="flex flex-nowrap py-2 items-center" (click)="displayComments()">
                    <img src="../../../assets/img/comment.png" class="w-6 flex-nowrap items-center" alt=""> 
                    <h1 class="px-1 items-center ">102</h1>
                </div>
                <div class="flex flex-nowrap items-center">
                    <img src="../../../assets/img/bar-1.png" class=" ml-8 w-6  items-center" alt=""> 
                    <h1 class="px-1 items-center">1K</h1>
                </div>
                <div class="flex flex-nowrap py-2 items-center">
                    <img src="../../../assets/img/share.png" class="w-6 ml-6 flex-nowrap items-center" alt=""> 
                    <h1 class="px-1 items-center ">10</h1>
                </div>
                <div class="flex flex-nowrap py-2 items-center">
                    <img src="../../../assets/img/rating.png" class="w-6 ml-6 flex-nowrap items-center" alt=""> 
                    <h1 class="px-1 items-center ">30</h1>
                </div>



                

            </div>

            <!-- Add a comment -->
            <div class=" flex flex-nowrap mx-auto items-center py-2">

                <div class="">
                    <img src="../../../assets/img/user.png" class="w-8 pt-1 bg-gray-100" alt="">
                    <!-- <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full">
                        <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                    </div> -->
    
                </div>
               
                <div class=" px-2 ">
                    <div class=" w:[16rem]  md:w-[26rem] flex-col mx-auto items-center">   
            
                        <div class="">
                            <input type="search" id="default-search" class="block w-full p-1.5 pl-10 text-sm text-gray-900 border-2 border-gray-400 rounded-full bg-gray-50" placeholder="Add a comment ..." required>
                           
                        </div>
                    </div>

                </div>

                <div class=" bg-teal-700 px-2 md:px-3 py-1 rounded-full">
                    <a routerLink="/home"  class="text-white md:text-sm  text-xs">Add Comment</a>

                </div>
                
            </div>

            <!-- Lists of comments -->
            <div class="flex  mx-auto items-center my-6 bg-gray-100 p-2 " *ngIf="showComments">
                <div class="flex flex-col pb-10  max-w-lg">
                    <div class="flex flex-nowrap">
                        
                        <img src="../../../assets/img/jim.jpeg" class="w-14 h-12 rounded-full" alt="">
                        <h1 class="  px-2 py-2">Jimmy Walker . 1h</h1>
                             
                    </div>
                 
                    <div class="flex flex-row pl-16">
                        <h1 class="">I Love  these resolutions. This is great. </h1>
                    </div>
                    <!-- likes and dislike -->
                    <div class="flex flex-nowrap items-center my-2 space-y-2">

                        <div class="flex flex-nowrap my-1">
                            <img src="../../../assets/img/like.png" class=" ml-16 w-6  items-center" alt=""> 
                            <h1 class="px-1 items-center ">29</h1>
                        </div>

                        <div class="flex flex-nowrap ">
                            <img src="../../../assets/img/dislike.png" class=" ml-8  w-6  items-center" alt=""> 
                            <h1 class="px-1 items-center ">1K</h1>
                        </div>
                        
                    </div>
                </div>
               

              
                

            </div>

    


        </div>

    </div>
