<div class="dark:bg-slate-900 min-h-screen ">
    <app-navbar></app-navbar>
    <section class="bg-white dark:bg-gray-900 mt-24">
        <div class="py-8 lg:py-16 px-4 mx-auto md:max-w-screen-md max-w-md ">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">{{ 'contactPage.heading' | translate }}</h2>
            <p class="mb-4 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
                {{ 'contactPage.description' | translate }}
            </p>
            <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
                {{ 'contactPage.emailPrompt' | translate }}
                <a target="_blank" href="mailto:{{ourEmail}}" class="text-blue-400">{{ ourEmail }}</a>
            </p>
           
        </div>
      </section>  
<app-footer></app-footer>
</div>
