<div class="dark:bg-slate-900 min-h-screen">
    <div *ngIf="!isLoggedIn">
        <app-navbar></app-navbar>
      </div>
      <div *ngIf="isLoggedIn">
        <app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [lastName]="this.auth.currentUser.lastName" [path]="'home'" ></app-navbar>
      </div>



<main class="mt-20 pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img class="mr-4 w-16 h-18 rounded-lg" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fjim.png?alt=media&token=e576589f-8879-48ad-be93-4c9ce1d1b677" alt="Jese Leos">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Jim Walker</a>
                            <p class="text-base text-gray-500 dark:text-gray-400"> NewWorld Game Designer</p>
                            <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2023-12-15" title="December 15th, 2023">Feb. 21, 2024</time></p>
                        </div>
                    </div>
                </address>
                <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">Custom GPT for Design Science Storyboards</h1>
            
            </header>
            <p class="mb-2 text-gray-900 dark:text-white"> These pictures were made with a custom ChatGPT called Story Illustrator:
                <a class="text-blue-700" target="_blank" href="https://chat.openai.com/g/g-BnUlAisOD-story-illustrator">link</a>
                The initial prompt was very generic, just to demonstrate proof of concept
                “Hi - please make a story about a village in Africa that wants solar panels on their health clinic.”
                
                More detailed prompts would yield more detailed and specific images.
                
                To begin, the GPT asks a handful of questions about style, tone and length, and then generated the following text and images in about 5 minutes:
                
                The first image shows a vibrant African village where community members, excitedly discussing plans, hold blueprints for solar panel installations, under a speech bubble "Brighter Future!"
                
            </p>
        
           
            <figure class="mt-6"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fstory-1.png?alt=media&token=74f68956-b57f-4541-9cf6-e02fecb80608" alt="">
                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Medard Gabel and WorldGame Presentation</figcaption> -->
            </figure>
            <!-- <h1 class="my-6 text-2xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl dark:text-white">Turn Your Ideas into Real Solutions</h1>
            <h3 class="my-2 text-xl font-bold leading-tight text-gray-900 lg:mb-6 lg:text-xl dark:text-white">1. Parts and Wholes</h3> -->
            <p class="mb-2 text-gray-900 dark:text-white">
                The second image captures the community beginning to install solar panels on their health clinic, with a speech bubble "Teamwork Sparks Change!" above the collaborative scene.

            </p>
            <figure class="mt-6"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fstory-2.png?alt=media&token=16a81e9e-22d4-46d2-9bad-11851f0fbdcf" alt="">
                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Medard Gabel and WorldGame Presentation</figcaption> -->
            </figure>
            <p class="mb-2 text-gray-900 dark:text-white">
                The third image shows the completed solar panel installation on the health clinic, with the community celebrating around it, under "Power to Heal!" speech bubble.

            </p>
            <figure class="mt-6"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fstory-3.png?alt=media&token=3d8e951c-887a-4a2f-a697-12a25fbd9b7d" alt="">
                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Medard Gabel and WorldGame Presentation</figcaption> -->
            </figure>
            <p class="mb-2 text-gray-900 dark:text-white">
                The fourth image depicts the inside of the health clinic, now brightly lit by solar power, with a speech bubble stating "A New Dawn of Care!" above the hopeful scene.

            </p>
            <figure class="mt-6"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fstory-4.png?alt=media&token=5ccca4d0-8df6-44ee-a81e-2c56ff902e4a" alt="">
                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Medard Gabel and WorldGame Presentation</figcaption> -->
            </figure>
            <p class="mb-2 text-gray-900 dark:text-white">
                The fifth image features a group of villagers learning about solar energy from an expert, highlighted by the speech bubble "Learning Lights the Way!"
            </p>
            <figure class="mt-6"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fstory-5.png?alt=media&token=435a908c-499e-454d-91e2-39e4996b6aa1" alt="">
                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Medard Gabel and WorldGame Presentation</figcaption> -->
            </figure>
            <p class="mb-2 text-gray-900 dark:text-white">
                The final image shows the village celebrating their sustainable energy success under solar-powered lights, with "Together We Shine!" marking this joyous occasion.

            </p>
            <figure class="mt-6"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fstory-6.png?alt=media&token=f5c63084-913c-4e88-bf06-192b534ef9cd" alt="">
                <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Medard Gabel and WorldGame Presentation</figcaption> -->
            </figure>
            
           
    </article>
  
    </div>

  

</main>
<app-footer></app-footer>
</div>






         
