<app-navbar    ></app-navbar>


<main class="mt-24 pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img class="mr-4 w-16 h-18 rounded-lg" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fjim.png?alt=media&token=e576589f-8879-48ad-be93-4c9ce1d1b677" alt="Jese Leos">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Jim Walker</a>
                            <p class="text-base text-gray-500 dark:text-gray-400"> NewWorld Game Designer</p>
                            <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2023-12-15" title="December 15th, 2023">Feb. 21, 2024</time></p>
                        </div>
                    </div>
                </address>
                <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">Custom GPT for Design Science Storyboards</h1>
            
            </header>
            <p class="mb-2 text-gray-900 dark:text-white"> These pictures were made with a custom ChatGPT called Story Illustrator:
                <a class="text-blue-700" target="_blank" href="https://chat.openai.com/g/g-BnUlAisOD-story-illustrator">link</a>
                The initial prompt was very generic, just to demonstrate proof of concept
                “Hi - please make a story about a village in Africa that wants solar panels on their health clinic.”
                
                More detailed prompts would yield more detailed and specific images.
                
                To begin, the GPT asks a handful of questions about style, tone and length, and then generated the following text and images in about 5 minutes:
                
                The first image shows a vibrant African village where community members, excitedly discussing plans, hold blueprints for solar panel installations, under a speech bubble "Brighter Future!"
                
            </p>
            <p class="mb-2 text-gray-900 dark:text-white">The NewWorld Game’s name draws on its history as being a direct descendent and outgrowth
                of the original World Game that was inspired by and based on the work and vision of
                Buckminster Fuller. It’s developers worked with Fuller on the first iterations of the World Game.
                It points to the need for a new world, one that not only replaces the old world, but makes new
                options and solutions that engender new possibilities for everyone. The NewWorld Game does
                this by empowering you with ways of developing new options for a better future that works for
                all life on Earth, not just those with large quantities of money and the delusion of thinking they
                are in control.</p>
           
            <figure class="mt-6"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/avatar%2Fworld-game-presentation.jpeg?alt=media&token=dc891ba4-a3f6-43c4-8a77-3e30f7553e8c" alt="">
                <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Medard Gabel and WorldGame Presentation</figcaption>
            </figure>
            <h1 class="my-6 text-2xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-3xl dark:text-white">Turn Your Ideas into Real Solutions</h1>
            <h3 class="my-2 text-xl font-bold leading-tight text-gray-900 lg:mb-6 lg:text-xl dark:text-white">1. Parts and Wholes</h3>
            <p class="mb-2 text-gray-900 dark:text-white">
                The NewWorld Game (NWG) takes technological advancements of the 21 st century and
                    creatively couples them with the design science engine that was used to play the original World
                    Game “longhand” in the month-long World Game workshops and shorter in-person and online
                    Global Solutions Labs. It couples an easy-to-use interface with AI, an empowered methodology
                    for developing real-world solutions, comprehensive world statistical resources, solution
                    libraries, and a community of problem solvers. It builds and leverages the power of a diverse,
                    collaborative, cross-cultural, multi-disciplinary, and intergenerational global community with
                    linkages to real organizations implementing solutions.
            </p>
            <h3 class="my-4 text-xl font-bold leading-tight text-gray-900 lg:mb-6 lg:text-xl dark:text-white">2. Your Role</h3>
            <p class="mb-2 text-gray-900 dark:text-white">
                Your role in the NewWorld Game is to develop solutions to global and local problems. Ideally,
                you do this as part of a team, but it is possible to play the NewWorld Game alone. Your solution
                will be Improved/Evaluated by groups of your peers. When your solution is ready, it can be
                added to the NewWorld Solutions Library and entered in the NewWorld Game Tournament.

                The fact that you are here is important. On several levels— for the world, for you, and for the
                community you will be a part of as you work together on what you care about. Thank you.
            </p>
            
           
    </article>
    </div>

</main>






         
