<app-navbar 
  [email]="this.auth.currentUser.email"
  [firstName]="this.auth.currentUser.firstName"
  [lastName]="this.auth.currentUser.lastName"
  [path]="'home'"
  [sideBarSmall]="true"
  [sideBarBig]="false">
</app-navbar>

<main class="mt-20 pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased ">
  <!-- Full-Width Background Image Section -->
  <div
  class="relative h-[400px] md:h-[500px] bg-contain bg-center bg-no-repeat"
  [ngStyle]="{'background-image': 'url(' + (selectedChallengeItem.image === '' || selectedChallengeItem.image === undefined ? '../../../assets/img/generic.webp' : selectedChallengeItem.image) + ')'}"
>
  <div class="absolute inset-0 bg-black bg-opacity-10"></div> <!-- Optional overlay -->
</div>

  <!-- Content Section Below the Image -->
  <div class="px-4 mx-auto max-w-screen-xl">
    <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
      <!-- Title and Description -->
      <div class="text-center mt-8">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-extrabold max-w-4xl mx-auto text-gray-900 dark:text-white">
          {{ selectedChallengeItem.title }}
        </h1>
        <p class="mt-4 text-sm md:text-lg lg:text-xl max-w-3xl mx-auto text-gray-600 dark:text-gray-300">
          {{ selectedChallengeItem.description }}
        </p>
      </div>

      <!-- Ready to Start Section -->
      <div class="px-4 py-4 bg-teal-100 dark:bg-slate-800 text-gray-900 dark:text-white rounded-lg shadow-md mt-8 text-center">
        <h2 class="text-xl font-bold mb-2">Ready to Start?</h2>
        <p class="mb-4">Jump right into designing impactful solutions for a brighter future.</p>
        <div class="space-x-4">
          <button
            class="px-6 py-3 text-lg font-bold text-white bg-teal-700 rounded-full shadow-md hover:bg-teal-800 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2"
            (click)="startChallenge()"
          >
            Start Solution
          </button>
          <button
            *ngIf="this.auth.currentUser.admin"
            class="px-6 py-3 text-lg font-bold text-white bg-red-700 rounded-full shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
            (click)="deleteChallenge()"
          >
            Delete Challenge
          </button>
        </div>
      </div>

      <!-- Intro Section -->
      <section class="mt-8 text-gray-900 dark:text-white space-y-6">
        <h2 class="text-2xl font-bold">Welcome to Your Challenge</h2>
        <p class="text-lg">
          This challenge is part of the <strong>NewWorld Game</strong>, a platform designed to turn your bold ideas into implementable solutions to real-world problems. Here, your creativity, experience, and values come together with proven tools, methodologies, reliable data, possible partners and funding to design, develop and implement solutions that are inclusive, sustainable, and impactful. 
      
        </p>
        <p class="text-lg">
          The NewWorld Game empowers individuals like you to envision a better future and develop your ideas into strategies that work for everyone, not just a select few.  
        </p>
        <p class="text-lg">
          As you embark on this challenge, remember: every solution starts with one idea. Your journey here is part of a larger global effort to address challenges 
          that matter and make meaningful change.
        </p>
        <p class="text-lg font-semibold">Let’s get started—your ideas could shape a brighter future! 🌍</p>
      </section>
      
      <!-- Call to Action Button -->
      <div class="mt-8 text-center">
        <button
          class="px-6 py-3 text-lg font-bold text-white bg-teal-700 rounded-full shadow-md hover:bg-teal-800 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2"
          (click)="startChallenge()"
        >
          Start Solution
        </button>
      </div>
    </article>
  </div>

  <app-footer class="md:hidden"></app-footer>
</main>


     <!-- Pop up save  -->
     <div *ngIf="createdSolutionSuccess" id="toast-success" class="fixed inset-x-0 mx-auto top-[10rem] flex items-center z-40 w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow " role="alert">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg ">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            <span class="sr-only">Check icon</span>
        </div>
    <div class="ml-3 text-sm font-normal">Solution Lab Created Successfully.</div>
        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 "  (click)="closePopUpSucess()" >
            <span class="sr-only">Close</span>
            <svg class="w-3 h-3"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
        </button>
     
    </div>
    <!-- Spinner -->
<div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center z-50 bg-opacity-50 bg-gray-800">
    <div role="status" class="flex flex-col items-center">
      <svg aria-hidden="true" class="w-12 h-12 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
      </svg>
      <span class="sr-only">Loading...</span>
      <div class="mt-2 text-white">Processing your request...</div>
    </div>
  </div>
 
<!-- Pop up error  -->
<div id="toast-danger" class=" fixed inset-x-0 mx-auto top-10 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow " role="alert" *ngIf="createdSolutionError">
<div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
    </svg>
    <span class="sr-only">Error icon</span>
</div>
<div class="ml-3 text-sm font-normal">An error ocurred. Try Again.</div>
    <button (click)="closePopUpError()" type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white" >
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
    </button>   
</div>