<app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [lastName]="this.auth.currentUser.lastName" [path]="'home'"  [path]="'home'" current="''"></app-navbar>

<div class=" container flex flex-col-reverse lg:flex-row mx-auto md:justify-between justify-center">
    <div class="flex flex-col mx-auto" *ngFor="let item of AllQuestions; let i = index">
        <app-playground-step 
        [title]="currentSolution.title" 
        [step]="steps[i]" 
        [questions]="AllQuestions[i]"
        [questionsTitles]="questionsTitles[i]"
        [stepNumber]="currentIndexDisplay"
        [buttonText]="buttontexts[i]"
        [solutionId]="id"
        (buttonInfoEvent)="updatePlayground($event)"
        *ngIf="display[i]">
        </app-playground-step>

    </div>

        <div class=" flex flex-col mx-auto mt-24 ">

            <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100   p-4">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-32 md:rounded-none md:rounded-l-lg" src="../../../assets/img/global-network.png" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Problem Description</h5>
                    <div  class="mb-3 font-normal text-gray-700 " [innerHTML]="currentSolution.description">
                    </div>
                </div>
            </a>

        </div>
</div>