<div class="dark:bg-slate-900 min-h-screen min-w-max">
    <div *ngIf="!isLoggedIn">
        <app-navbar></app-navbar>
      </div>
      <div *ngIf="isLoggedIn">
        <app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [lastName]="this.auth.currentUser.lastName" [path]="'home'" ></app-navbar>
      </div>
    
    
    
    <main class="mt-20 pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
        <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
            <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
                <header class="mb-4 lg:mb-6 not-format">
                    <address class="flex items-center mb-6 not-italic">
                        <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                            <img class="mr-4 w-16 h-18 rounded-full" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/avatar%2FNG73q08IBlW39QiC3CzwTGe6zVo2-medard-jpeg.jpeg?alt=media&token=111999e5-6382-4868-b6df-0db2d06ba419" alt="Jese Leos">
                            <div>
                                <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Medard Gabel</a>
                                <p class="text-base text-gray-500 dark:text-gray-400">EarthGame Inc Director, NewWorld Game Designer</p>
                                <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2023-12-15" title="December 15th, 2023">March. 12, 2024</time></p>
                            </div>
                        </div>
                    </address>
                    <h1 class="mb-4 text-2xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">NewWorld Game AI </h1>
                
                </header>
                    <p class="text-md mb-2 text-gray-900 dark:text-white">
                        The NewWorld Game uses AI (or more precisely Large Language Models— LLMs) to
                        assist in answering many of the questions needed for solving global and local problems.
                        These general purpose and powerful tools can assist in nearly all phases of the
                        NewWorld Game creative process. The key ingredient, at this point in LLMs
                        development, is to ask the right questions, to pose the best prompts that will shed light
                        on what you are looking for. Here are some general guides:
                   </p>
                   <figure class="mt-6 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fnwg-ai.png?alt=media&token=1a07d326-b9df-46e8-a0f8-a087b0809b11" alt="">
                    <!-- <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">The evaluation slider</figcaption> -->
                    </figure>
              
                   <h1 class="text-2xl my-4 font-bold text-gray-900 dark:text-white">1. Best Practices to Use Ask Bucky,<a target="_blank" href="https://chat.openai.com/ " class="text-blue-400 underline"> ChatGPT, </a> <a target="_blank" href="https://gemini.google.com/app " class="text-blue-400 underline"> Gemini</a>, and other LLM tools<sup class="text-xs align-super">1</sup> </h1>
              
                     
                <ol class=" mb-2 text-gray-900 dark:text-white list-decimal">
                    <li>Be clear and specific: Clearly communicate your request or questions </li>
                    <li>Start with Instructions: Tell the model how you want it to behave.</li>
                    <li>Provide Context: Give the model relevant information about the topic.</li>
                    <li>Use Complete Sentences. Frame your prompts to ensure the model understands.</li>
                    <li>Use Previous Answers: Reference the model’s previous responses.</li>
                    <li>Experiment and Iterate: Experiment with different phrasing or variations.</li>
                    <li>Use Explicit Instructions: Clearly state your instructions in the prompt.</li>
                    <li>Limit The Response length: Ask the model to provide specific key points.</li>
                    <li>Refine and Review: Adjust your prompts for more accurate answers.</li>
                    <li>Verify and Fast-check: Make sure the information is correct.</li>
                    
                </ol>

                <h1 class="my-4 text-xl  font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">2. GENERAL PROMPTS to consider using: </h1>
                <ul class=" mb-2 text-gray-900 dark:text-white list-disc">
                    <li>Explain [COMPLEX TOPIC] like I’m a 5-year-old. </li>
                    <li>Support your analysis with relevant data and statistics.</li>
                    <li>Provide a comprehensive list of key players in the industry.</li>
                    <li>What are some breakthroughs in the (technology your design is or could use) in the
                        last two (or four) years?</li>
                    <li>Develop a successful design solution launch strategy with this prompt:</li>
                    <li>(Insert a brief description of your solution/strategy and target audience.) Guide me
                        through developing a design solution launch strategy using the Product Launch Formula
                        to generate interest.</li>
                    <li>Rewrite this paragraph as a bulleted list.</li>
                    <p class="text-md mb-2 text-gray-900 dark:text-white">
                        Each stage of the NewWorld Game process needs different prompts to elicit useful
                            results. Below are examples of prompts for:
                    </p>
                    <!-- <li>Limit The Response length: Ask the model to provide specific key points.</li> -->
                    
                    
                </ul>
                <h1 class="my-4 text-xl font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">3.1. Defining the Problem: Prompt Example </h1>
              
                <ul class=" mb-2 text-gray-900 dark:text-white list-disc">
                    <li>How many people are “hungry” (insert your chosen problem area) in the world?
                        What are the sources of the answer.</li>

                        <p class="mb-2 text-gray-900 dark:text-white">
                            If there are multiple answers choose the one(s) that have the most recent source
                            publication dates and are the most relevant to your interests. If you don’t get that
                            information you need, ask different questions, such as the following:
                        </p>

                    <li>How many people are (for hunger-related problems) malnourished, starving,
                        stunted, in danger of food shortages, etc. (plus sources for each question asked).
                        [Insert alternative descriptors for your chosen problem area.]</li>
                    <li>Give me an overview of the world food (or other) problem based on latest UN
                        reports.</li>
                    <li>What is the most serious problem related to world hunger (insert your chosen
                        problem area)?</li>
                    <li>Consider more complicated prompts— like: How many people are hungry in the
                        world? What are the sources of the answer. Write for a well-informed audience.
                        Use an academic tone. Make it concise. Summarize at end. 1</li>
                    <li>Remember that ChatGPT and Gemini have a memory. They keeps track of what
                        you wrote. You can use/build on this memory in your revisions to your prompts.</li>
                   
                    
                </ul>

                <h1 class="my-4 text-xl font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">3.2. Present State </h1>

                <ul class=" mb-2 text-gray-900 dark:text-white list-disc">
                    <li>What are the major parts of the global _________ (insert your chosen problem
                        area)?</li>

                      

                    <li>What influences the state of the global ______ system?</li>
                    <li>What is the gap between the problem state and preferred state? For this prompt
                        you will need to insert the present state from the “Defining the problem” prompt
                        and your vision of the preferred state</li>
                    
                </ul>

                <h1 class="my-4 text-xl font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">3.3. Strategy</h1>
                <p class="mb-2 text-gray-900 dark:text-white">
                    AI works well as a generator of ideas and options. It is good at volume. Not necessarily
                    good ideas but lots of them—and buried within the many might be a good to very good
                    
                    idea, or one that will trigger a new idea in your mind, or some ideas that working
                    together will be great combinations. The following are some prompts you with which you
                    can start.
                </p>
                <ul class=" mb-2 text-gray-900 dark:text-white list-disc">
                    <li>What are the alternatives for __________ (examples from food problem area:
                        eliminating hunger in the world; increasing food production; increasing the
                        amount of land being irrigated; reducing post-harvest food waste; making food
                        affordable for everyone, etc. (Tip #1: Take one of the facets of your preferred
                        state and insert it into the prompt. Tip #2: Tell the AI “You are an expert at
                        strategic thinking, problem solving, design, and option generation. When asked
                        to solve a problem you come up with creative, clever, interesting ideas. Your first
                        task is to ________ (e.g eliminate hunger from the world). Describe the details of
                        each way.</li>

                      

                    <li>What is needed to increase food production in ____ (location where problem
                        area is severest).</li>
                    <li>Who is needed to do this (the above)?</li>
                    <li>What resources are needed to make this happen? (to implement Increased food
                        production)</li>
                <li>What will it cost to do _________ How much money would it cost to reach the
                    ideal state/eliminate hunger, feed everyone in the world?</li>
                <li>Where could the money needed to do _______ come from?</li>
                <li>What are possible outcomes of _______ (e.g. eliminating hunger, implementing x
                strategy or solution).</li>

            
            </ul>

            <h1 class="my-4 text-xl font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">3.4. Implementation</h1>
          
            <ul class=" mb-2 text-gray-900 dark:text-white list-disc">
                <li>What technology is needed to ____ (e.g eliminate hunger)?</li>

                  

                <li>What policies or programs are needed to ____ (e.g eliminate hunger)?</li>
                <li>Who is needed to do this (the above)?</li>
                <li>Which technology is the most efficient, effective, cost-effective, sustainable?
                    What is a good test for _________ (one of the technologies from first prompt in
                    this section)?Where is a good place to conduct this test?</li>
            <li>What is a plan for scaling the _______ (technology from first prompt in this
                section)?</li>
        
        </ul>

        <h1 class="my-4 text-xl font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">3.5. Initiative</h1>
          
            <ul class=" mb-2 text-gray-900 dark:text-white list-disc">
                <li>Where do we go from here/next/what can I do with $100,000</li>

                  

                <li>Where could we get $100,000 to __________ (insert test of strategy)</li>
                <li>Who is needed to do this (the above)?</li>

                <h1 class="my-4 text-xl font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">Funding</h1>
                <li>“Use AI to develop initial drafts quickly but always review and edit content
                    to align with your voice and values. Try this prompt in ChatGPT: “Write a
                    one-page letter of inquiry to the [foundation] to request $XXXX for [your
                    organization]. We are focused on [your project purpose].”</li>

                    <li> <span class="font-bold">Find grant opportunities and funding prospects</span> 
                        Use AI to streamline the time-consuming process of funder research. AI
                        will sift through vast data and generate a list of prospects. But be sure to
                        review and refine results based on your organization’s needs and values.
                        And never enter confidential information into a prompt.</li>

                        <li> <span class="font-bold">Try this prompt:</span> 
                         “Which U.S. private foundations are most likely to fund
                            nonprofit organizations working to [your cause/mission e.g., reduce
                            homelessness] in [your city]?”</li>

                    <li> <span class="font-bold">#3 Write sections of grant proposals</span> 
                        While AI cannot even come close to replacing your depth of knowledge
                        and experience, it can help you write sections of grant proposals Ask
                        ChatGPT to create SMART objectives, a needs statement, and
                        performance measures.
                        Try this prompt: “Help me develop a clear and concise project
                        description for my grant proposal on [insert your project] in 200 words or
                        less.”
                        Try out these prompts and make up your own.</li>


            </ul>
            <h1 class="my-4 text-xl font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">3.6. Additional possible prompts to explore<sup class="text-xs align-super">2</sup></h1>
          
            <ul class=" mb-2 text-gray-900 dark:text-white list-disc">
                <li class="font-bold">Talk to an Expert</li>
                <p class="mb-2 text-gray-900 dark:text-white">“Hi ChatGPT, I want you to answer like a [Expert’s NAME (Jeffrey Sachs,
                    Buckminster Fuller, etc.)]. Use all the knowledge of [NAME] and any and
                    every available information about how [NAME] thinks and solves
                    problems.
                    My challenge is: [YOUR CHALLENGE].
                    Now, please provide me a detailed 500-word answer with a plan of action.”
                </p>

                  

                <li class="font-bold">Create a successful GSL solution/strategy/product launch strategy</li>
                <p class="mb-2 text-gray-900 dark:text-white">
                    Prompt:
                    “[INSERT A BRIEF DESCRIPTION OF YOUR GSL
                    SOLUTION/STRATEGY/PRODUCT AND TARGET AUDIENCE]
                    Guide me through developing a solution/product launch strategy using the
                    Product Launch Formula to generate interest and implementation.”
                </p>
                <li class="font-bold">Business Idea Generator</li>
                <p class="mb-2 text-gray-900 dark:text-white">
                    Prompt:
                    “I want you to act as a world-class business strategist specializing in
                    innovation and entrepreneurship.
                    My first request is for you to generate a business idea. Here’s some
                    context:
                    Industry — [Industry]
                    Interest — [Interests]
                    “Include Problem Statement, Solution, Unique Selling Point (USP), Target
                    Market, and Revenue Model. Include some context and a list of [Number]
                    possible business ideas.”
                    I need you to write content with a good balance of “perplexity” and
                    “burstiness.”
                </p>

                <li class="font-bold">Create a full Project Plan</li>
                <p class="mb-2 text-gray-900 dark:text-white">Prompt:
                    “Create a project plan for [TOPIC]. Include tasks, deliverables, and
                    milestones. Also, include how long it would likely take to reach each
                    milestone.”
                </p>
                <li class="font-bold">Ultimate Business Development Manager</li>
                <p class="mb-2 text-gray-900 dark:text-white">Prompt:
                    “You are an expert in innovation and developing new solutions to global
                    problems. You have helped many people and organization before me to
                    identify solutions and develop strategies to reach them.
                    Your task is now to identify an innovative strategy for [INSERT GLOBAL
                    PROBLEM—E.G. HUNGER, LACK OF CLEAN WATER, ETC]. To better
                    understand what I want and need, you should always answer by including
                    a question that helps you better understand the context and my needs.
                    Did you understand?”
                </p>

                <li class="font-bold">Business Strategist</li>
                <p class="mb-2 text-gray-900 dark:text-white">Prompt:
                    “[INSERT A BRIEF DESCRIPTION OF YOUR SOLUTION AND TARGET
                    AUDIENCE]
                    I want you to act as a business [OR GOVERNMENT] strategist expert in
                    
                    getting innovative solutions implemented. My first request is to develop a
                    comprehensive plan to get [INSERT YOUR SOLUTION] implemented in
                    [INSERT LOCATION—COUNTRY, GEOGRAPHICAL REGION, ETC.].
                </p>

                
               
        </ul>


            <h1 class="my-4 text-xl font-extrabold leading-tight text-gray-900 lg:mb-6  dark:text-white">3.7. Warnings</h1>
          
            <ul class=" mb-2 text-gray-900 dark:text-white list-disc">
                <li>Sources for answers requiring the most up-to-date statistical data might not be
                    available. It will depend on when the model was last updated. If this is the case,
                    settle for what is available and then go to the latest statistical document. A good
                    starting place is to check the Primer’s Appendix #2, List of Online Statistical Data
                    Sources. These will take you to the latest available data.</li>

                  

                <li>The current state of LLMs is evolving rapidly. Whatever is written here needs to
                    be viewed in this context— it could be/most likely will be at least a bit out-of-date
                    by the time you are reading this. Nevertheless, this introductory overview should
                    be helpful as a place to start.</li>
               
        </ul>

         
                <p class="my-2 text-gray-900 dark:text-white italic">
                    Remember that each question/prompt for the LLM is an exploration. If you don’t get an
                        answer that is helpful, ask the prompt in a different way. Invest some time in “prompt
                        engineering”— editing and playing with prompts to come up with the results you want.
                </p>



                <!-- Footnotes Section -->
  <div class="mt-8 dark:text-gray-200">
    <h2 class="text-lg font-semibold">Footnotes</h2>
    <ol class="list-decimal list-inside">
        <li class="text-sm">Anish Singh Walia. Ultimate ChatGPT Prompt Guide for 2024, <a class="text-blue-400" target="_blank" href="https://medium.com/aimonks/ultimate-
            chatgpt-prompt-guide-for-2024-29ed7add2507"> https://medium.com/aimonks/ultimate-
            chatgpt-prompt-guide-for-2024-29ed7add2507</a> </li>
      <li class="text-sm">Based on: Anish Singh Walia, Top 8 ChatGPT Prompts, <a class="text-blue-400" target="_blank" href="https://medium.com/aimonks/top-8-chatgpt-
        prompts-that-will-make-you-more-productive-than-a-team-of-20-employees-part-2-6f93d435c6a9">https://medium.com/aimonks/top-8-chatgpt-
        prompts-that-will-make-you-more-productive-than-a-team-of-20-employees-part-2-6f93d435c6a9</a> </li>
    </ol>
  </div>
              
               
        </article>
        </div>
    
     
    </main>
    <app-footer></app-footer>
    </div>