<!-- src/app/solutions/solutions.component.html -->
<div class="min-h-screen px-4 pb-16 dark:bg-slate-900">
  <div [ngClass]="{ 'lg:ml-64': isSidebarOpen, 'lg:ml-0': !isSidebarOpen }">
    <app-navbar
      [hoveredDiscoverPath]="'bg-gray-100 dark:bg-gray-700'"
      [sideBarBig]="isSidebarOpen"
      [email]="auth.currentUser?.email || ''"
      [firstName]="auth.currentUser?.firstName || ''"
      [lastName]="auth.currentUser?.lastName || ''"
      [path]="'home'"
      [currentPageDiscover]="true"
      (toggleAsideEvent)="toggleAside()"
    ></app-navbar>

    <!-- Example masthead + nav -->
    <header
      class="container bg-white my-8 dark:bg-slate-900 border-b border-gray-300 dark:border-gray-700 mx-auto max-w-7xl"
      [ngClass]="auth.currentUser ? 'mt-20' : 'mt-28'"
    >
      <div class="max-w-7xl px-4 py-4">
        <!-- Masthead Title -->
        <h1
          class="font-serif text-center text-4xl font-black tracking-tight text-black dark:text-white"
        >
          {{ 'discover.hero.title' | translate }}
        </h1>
        <p
          class="mt-4 text-center text-gray-600 dark:text-gray-300 my-4 mx-auto"
        >
          {{ 'discover.hero.subtitle' | translate }}
        </p>
      </div>

      <div class="flex flex-wrap justify-center gap-4 mb-8">
        <button
          *ngFor="let category of categories"
          (click)="setActiveCategory(category)"
          [ngClass]="{
            'bg-teal-700 text-white': category === activeCategory,
            'bg-gray-200 text-gray-700 dark:bg-gray-600 dark:text-gray-200':
              category !== activeCategory
          }"
          class="px-4 py-2 rounded-full text-sm font-medium hover:bg-teal-600 transition"
        >
          {{ getCategoryLabel(category) | translate }}
        </button>
      </div>
    </header>

    <!-- Main Content - Solutions section -->
    <div class="max-w-7xl mx-auto">
      <section id="solutions" class="scroll-mt-16 mt-4">
        <!-- Solutions Grid -->

        <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
          <div
            *ngFor="let solution of filteredCompletedSolutions; let i = index"
            class="transform transition-transform duration-300 hover:scale-105"
          >
            <app-solution
              [ngStyle]="{ 'animation-delay': i * 100 + 'ms' }"
              [user]="completedSolutionsUsers[i]"
              [solution]="solution"
            >
            </app-solution>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<app-chatbot *ngIf="isLoggedIn"></app-chatbot>
