

<div class="  max-w-3xl flex flex-col mx-auto  mt-32 " >

    <!-- Header -->
    <div class="flex flex-col mx-auto">
        <h1 class="font-bold font-Nunito text-3xl text-worldsecond text-center">{{title}}</h1>

        <h3 class="mt-4 text-xl text-center">{{step}}</h3>
    </div>

    <!-- Questions -->

    <div  class=" container flex flex-col mx-auto justify-center mt-8 px-2 md:px-16"  *ngFor="let question of questions; let i =index">

        <header class="inverted">
            <h2 class="py-4 text-gray-900 text-xl">{{question}}</h2>
          </header>
          <div class="md:max-w-2xl max-w-md" id="box-{{i}}">
            <ckeditor
              [editor]="Editor"
              data="<p></p>"
              (ready)="onReady($event)"
              [(ngModel)]="contentsArray[i]"
              #contentField="ngModel"
             
             
              >
            </ckeditor>
          </div>
          <div *ngIf="isNotEmpty(contentsArray[i]) && contentField.touched" class="text-red-400" >
            All textarea must be filled with something...
         </div>


    </div>

    <!-- Pop up save  -->
    <div *ngIf="saveSuccess" id="toast-success" class="fixed inset-x-0 mx-auto top-[10rem] flex items-center z-40 w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow " role="alert">
      <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg ">
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
          </svg>
          <span class="sr-only">Check icon</span>
      </div>
      <div class="ml-3 text-sm font-normal">Saved successfully.</div>
      <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 "  (click)="closeSaveSuccess()" >
          <span class="sr-only">Close</span>
          <svg class="w-3 h-3"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
      </button>
  </div>
<!-- Pop up error  -->
  <div id="toast-danger" class=" fixed inset-x-0 mx-auto top-10 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow " role="alert" *ngIf="saveError">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
        </svg>
        <span class="sr-only">Error icon</span>
    </div>
    <div class="ml-3 text-sm font-normal">Error occured while saving. Try Again!</div>
    <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white" >
        <span class="sr-only" (click)="closeSaveError()">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
    </button>
</div>

<!-- Modal for submitting a solution  -->
<div id="popup-modal"  class=" p-4" *ngIf="submitDisplay">
  <div class="  w-full max-w-md max-h-full fixed inset-x-0 mx-auto top-[10rem] z-50 p-4 flex">
      <div class="border-gray-200 border-2 relative bg-white rounded-lg shadow">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center" (click)="closeSubmission()">
              <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="p-6 text-center">
              <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
              </svg>
              <h3 class="mb-5 text-lg font-normal text-gray-500 ">Are you sure you want to submit this solution?</h3>
              <button  type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2" (click)="accept()">
                  Yes, I'm sure
              </button>
              <button (click)="closeSubmission()"  type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 ">No, cancel</button>
          </div>
      </div>
  </div>
</div>
    <!-- button for the next setup -->
    <div class="  flex flex-col mx-auto justify-center my-8 space-y-6" >
      
       <div class="flex flex-row space-x-6">
        <button [disabled]="isInputInValid()" type="submit" class="bg-teal-600 text-white px-8 py-2 rounded-full" (click)="saveSolutionStatus()" >Save</button>
          <button class="bg-teal-600 text-white px-8 py-2 rounded-full" [disabled]="isInputInValid()" (click)="updatePlayground(stepNumber)">{{buttonText}}</button>
      </div>
       

    </div>



  </div>

<app-chatbot></app-chatbot>



