

<div class="  max-w-3xl flex flex-col mx-auto  mt-28 ">

    <!-- Header -->
    <div class="flex flex-col mx-auto">
        <h1 class="font-bold font-Nunito text-3xl text-worldsecond">{{title}}</h1>

        <h3 class="mt-4 text-xl">{{step}}</h3>
    </div>

    <!-- Questions -->

    <div  class=" container flex flex-col mx-auto justify-center mt-8 px-2 md:px-16"  *ngFor="let question of questions; let i =index">

        <header class="inverted">
            <h2 class="py-4 text-gray-900 text-xl">{{question}}</h2>
          </header>
          <div class="md:max-w-2xl max-w-md" id="box-{{i}}">
            <ckeditor
              [editor]="Editor"
              data="<p></p>"
              (ready)="onReady($event)"
              (change)="onChange($event)"
             
              >
            </ckeditor>
          </div>


    </div>

    <!-- button for the next setup -->
    <div class="  flex flex-col mx-auto justify-center my-8" >
        <a class="bg-teal-600 text-white px-8 py-2 rounded-full" (click)="updatePlayground(stepNumber)">{{buttonText}}</a>


    </div>



</div>

<app-chatbot></app-chatbot>



