<div class="dark:bg-slate-900 min-h-screen min-w-max">
    <div *ngIf="!isLoggedIn">
        <app-navbar></app-navbar>
      </div>
      <div *ngIf="isLoggedIn">
        <app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [lastName]="this.auth.currentUser.lastName" [path]="'home'" ></app-navbar>
      </div>
    
    
    <main class="mt-24 pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased ">
        <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
            <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
                <header class="mb-4 lg:mb-6 not-format">
                    <address class="flex items-center mb-6 not-italic">
                        <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                            <img class="mr-4 w-16 h-18 rounded-full" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/avatar%2FNG73q08IBlW39QiC3CzwTGe6zVo2-medard-jpeg.jpeg?alt=media&token=111999e5-6382-4868-b6df-0db2d06ba419" alt="Jese Leos">
                            <div>
                                <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Medard Gabel</a>
                                <p class="text-base text-gray-500 dark:text-gray-400">EarthGame Inc Director, NewWorld Game Designer</p>
                                <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2023-12-15" title="December 15th, 2023">June. 16, 2024</time></p>
                            </div>
                        </div>
                    </address>
                    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">State of the World Reports</h1>
                
                </header>
                   
                <p class="mb-2 text-gray-900 dark:text-white">TThe link below takes you to our collection of over 400 state-of-the-world reports
                    from UN agencies, international research organizations and researchers. The
                    reports are intended to add depth and breadth of understanding to the problems on
                    which players of NewWorld Game choose to work. They add perspective, insight,
                    and data to the importance, context, impacts, trends, history and possible solutions
                    to the problems our world is facing.
                    The reports are grouped by topic—such as Food, Energy, Climate, Health,
                    Education, etc. The latest reports will be found in folders marked with the latest
                    year the reports have been issued. To access a folder, double click on it.
                    If you encounter additional reports that you have found useful in your NewWorld
                    Game research that you think others working in NewWorld Game would find
                    helpful, let us know about them— with a link to them, by sending a message to
                    <a target="_blank" href="mailto:{{email}}" class="text-blue-500 hover:text-blue-600" >{{email}}</a>
                </p>
                <p class="mb-2 text-gray-900 dark:text-white">
                    The State of the World Reports can be accessed at:
                    <a target="_blank" class="text-blue-500 underline" href="https://drive.google.com/drive/folders/1SbNgXKzQJ5q1DfnMfTGVo5T2GHc9sLU9">here</a>

                </p>
                   
               
              
         
         
               
          
                
               
        </article>
        </div>
    
    
    </main>
    <app-footer></app-footer>
    </div>