<div class="dark:bg-slate-900 min-h-screen">
    <div *ngIf="!isLoggedIn">
        <app-navbar></app-navbar>
      </div>
      <div *ngIf="isLoggedIn">
        <app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [lastName]="this.auth.currentUser.lastName" [path]="'home'" ></app-navbar>
      </div>
    
    
    <main class="mt-20 pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased ">
        <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
            <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
                <header class="mb-4 lg:mb-6 not-format">
                    <address class="flex items-center mb-6 not-italic">
                        <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                            <img class="mr-4 w-16 h-18 rounded-full" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/avatar%2FNG73q08IBlW39QiC3CzwTGe6zVo2-medard-jpeg.jpeg?alt=media&token=111999e5-6382-4868-b6df-0db2d06ba419" alt="Jese Leos">
                            <div>
                                <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Medard Gabel</a>
                                <p class="text-base text-gray-500 dark:text-gray-400">EarthGame Inc Director, NewWorld Game Designer</p>
                                <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2023-12-15" title="may 13th, 2024">May. 13, 2024</time></p>
                            </div>
                        </div>
                    </address>
                    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">Sample Preferred States</h1>
                
                </header>
                    <p class="text-md mb-2 text-gray-900 dark:text-white">
                     The below are taken from previous work by participants in the 2005-2023 Global Solutions
                        Lab, published in the Designs for a World That Works for All, Volumes I-III.
                        
                   </p>
              
                   <h1 class="text-xl my-4 font-bold text-gray-900 dark:text-white">Food Preferred State</h1>
                    <div class="flex flex-row">
                        <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Ffood-2.png?alt=media&token=51d121a5-e84a-4c9b-b7cf-b564d70a5924" alt="">
                            <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Food Preferred State -1 </figcaption>
                            </figure>
                            <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Ffood-1.png?alt=media&token=e8b57544-54b8-4331-ad49-501f96fe72f7" alt="">
                                <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Food Preferred State -2 </figcaption>
                                </figure>
                    </div>
                    
                    <p class="my-2 text-gray-900 dark:text-white">
                        The Global Food System Preferred State is one that incorporates the following aspects:  
                    </p>
                <ul class="list-disc mb-2 text-gray-900 dark:text-white">
                    <li> 100% of humanity is well nourished with abundant, safe, affordable, and
                        sustainable food supplies. </li>
                   <li>Food production is done in environmentally regenerate ways.</li>
                   <li>Local and global food systems are adaptable, flexible, and transparent.</li>
                   <li>There is an ever-increasing diversity of food choices and biological resources.</li>
                   <li>There is an ever-increasing resource efficient food system that is knowledge, rather
                    than energy intensive.</li>
                    <li>There is ever-increasing local self-reliance in the production of food and a
                        corresponding global interdependence of our local food system and supplies.</li>
                    
                    <li>National and local food systems are subsidy free, open market, and fair trade based.</li>
                    <li>There are emergency backup systems and anticipatory crisis management systems
                        in place.</li>
                    <li>Local and global food systems are conflict free; food is never used as a weapon or
                        bargaining chip.</li>
                    <li>The global commons are managed for global well-being, not national, local, or
                        individual gain.</li>
                    
                  
                    </ul>


                   <h1 class="text-xl my-4 font-bold text-gray-900 dark:text-white">Water Preferred State</h1>
                   <div class="flex flex-row">
                    <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fwater-1.png?alt=media&token=9b61e5f3-47bb-43e0-ba6d-dd3ea65a645e" alt="">
                        <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Water Preferred State -1 </figcaption>
                        </figure>
                        <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fwater-2.png?alt=media&token=4b70d02c-db77-45d9-97dd-fc41b4411d2a" alt="">
                            <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Water Preferred State -2 </figcaption>
                            </figure>
                </div>
                <ul class="list-disc mb-2 text-gray-900 dark:text-white">
                    <li> Everyone in the world has safe, abundant, affordable, and sustainable supplies of
                        drinking water.</li>
                   <li>Clean, efficiently used, and equitably distributed water is available for all people.</li>
                   <li>Water pollution is reduced to both freshwater and seawater worldwide to zero.</li>
                   <li>Water collection, storage, re-use, and distribution systems are constantly being
                    improved.</li>
                   <li>Meet or exceed the World Health Organization’s minimum levels for the quantities of
                    drinking water: 1 liter water/day for a 10 kg (20 lb) child 2 liter water/day for a 60 kg
                    (130 lb) adult.</li>
                    <li>Local education initiatives are in place focusing on daily water needs, disease
                        prevention, storage and collection procedures, and water conservation.</li>
                    
                   
                  
                    </ul>
               

                   <h1 class="text-xl my-4 font-bold text-gray-900 dark:text-white">Sanitation Preferred State</h1>
                   <div class="flex flex-row">
                    <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fsanitation-1.png?alt=media&token=d1edc85d-a714-4495-9a49-f3fac9dcd54d" alt="">
                        <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Sanitation Preferred State -1 </figcaption>
                        </figure>
                        <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fsanitation-2.png?alt=media&token=b39abc7f-b8a9-4e49-8f03-bc8a470231a2" alt="">
                            <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Sanitation Preferred State -2 </figcaption>
                            </figure>
                </div>
                <ul class="list-disc mb-2 text-gray-900 dark:text-white">
                    <li> Affordable, safe, clean, effective, expandable, and sustainable sanitation system in
                        place everywhere in the world.</li>
                   <li>Profitable, job- creating waste management systems.</li>
                   
                  
                    </ul>


                    <h1 class="text-xl my-4 font-bold text-gray-900 dark:text-white">Energy Preferred State</h1>
                   <div class="flex flex-row">
                    <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fenergy-1.png?alt=media&token=661b427e-72b3-4328-9a9e-af489f519fa9" alt="">
                        <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Energy Preferred State -1 </figcaption>
                        </figure>
                        <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fenergy-2.png?alt=media&token=cba07013-d394-402f-9322-6d15e726074f" alt="">
                            <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Energy Preferred State -2 </figcaption>
                            </figure>
                </div>
                <p class="my-2 text-gray-900 dark:text-white">
                    20 years from the present, 100% of humanity has access to fuel, electricity, and energy-
                        related technologies that are:  
                </p>
                <ul class="list-disc mb-2 text-gray-900 dark:text-white">
                    <li> Sustainable</li>
                   <li>Clean</li>
                   <li>Ever-increasingly efficient</li>
                   <li>Appropriately matched to local needs</li>
                   <li>Secure</li>
                   <li>Affordable</li>
                   <li>Abundant</li>
                   <li>Reliable</li>
                   <li>Adaptable/Flexible</li>
                   <li>Transparent</li>
                   <li>Safe</li>
                   <li>Health promoting</li>
                   <p class="my-2 text-gray-900 dark:text-white">
                    The following are the major components of that vision:
                    </p>
                   <li>100% of humanity’s energy needs are met with safe, abundant, affordable energy
                    supplies</li>

                    <li>The production of energy is done in environmentally regenerative ways</li>
                    <li>There is an ever-increasing diversity of energy choices</li>
                    <li>There is an ever-increasing resource efficient energy system that is knowledge, rather
                        than energy and materials, intensive</li>
                    <li>There is ever increasing local self-reliance and global interdependence of our energy
                            systems and sources</li>
                    <li>National and local energy systems are subsidy-free and open- market based</li>

                    <li>There are emergency backup systems and anticipatory crisis management systems in
                        place</li>

                    <li>Local and global energy systems are adaptable, flexible, and transparent</li>
                    <li>Local and global energy systems are conflict free; energy is never used as a weapon or
                        bargaining chip</li>
                    
                        <li>The global commons are managed for global wellbeing, not national, local or individual
                            gain.</li>
                  
                    </ul>

                    <h1 class="text-xl my-4 font-bold text-gray-900 dark:text-white">Education Preferred State</h1>
                   <div class="flex flex-row">
                    <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Feducation-1.png?alt=media&token=2a1a26f7-f5e3-4934-a222-0744ae42dfd7" alt="">
                        <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Education Preferred State -1 </figcaption>
                        </figure>
                        <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Feducation-2.png?alt=media&token=430ffc23-91d8-4015-9531-52a57e581a69" alt="">
                            <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Education Preferred State -2 </figcaption>
                            </figure>
                </div>
                <p class="my-2 text-gray-900 dark:text-white">
                    By 2030, 100% of humanity will receive a full primary education for free and have
                    affordable access to secondary, tertiary, and lifelong education; in addition, they will have:
                </p>
                <ul class="list-disc mb-2 text-gray-900 dark:text-white">
                    <li> Universal Internet access</li>
                   <li>Affordable access to study internationally and to study other cultures from their own
                    location.</li>
                    <li>Affordable transportation to attend the schools of their choice.</li>
                   <li>Schools within a close proximity to students</li>
                  <li>Schools that play a vital part in the community; that provide essential services
                    where needed; that are suppliers of energy, water, and food to the community
                    (rather than just consumers)</li>
                
                    <li>Schools that are built with and powered by renewable resources.</li> 
                <li>Access to sports and the equipment needed to participate in sports.</li>
                <li>Affordable access to educational resources and materials such as books,
                    textbooks, computers, and advanced global library systems</li>
                <li>Access to cultural institutions</li>
                <li>Access to international press</li>
                <li>A peaceful and secure environment</li>
                <li>Gender appropriateness (different bathroom facilities for boys and girls)</li>
            <li>Access to healthcare facilities on campus</li>
            <li>Teachers who are well paid and respected members of the community Teachers and
                administrators who have global access to all educational resources; and who
                exchange education information readily.</li>
                <p class="my-2 text-gray-900 dark:text-white">
                    Curriculum that:
                </p>
            <li>Is hate-free, unbiased, and contains opposing viewpoints.</li>
            <li>Is interactive and relevant to community and cultural needs (things learned
                can be applied in real life to benefit the community in such areas as health,
                environment, food production, energy use)</li>
            <li>Accommodates different styles of learning.</li>
            <li>Is globally centric (students learn about their region in the context of the
                entire world).</li>
            <li>contains environmental education in a global context.</li>
            <li>Promotes creative exploration in arts and music.</li>
            <li>Promotes compassion for oneself and others.</li>
            <li>Promotes critical thinking skills.</li>
            <li>Contains vocational training.</li>
            <li>Is universal; culturally appropriate yet contains globally adhered to standards.</li>
            <li>Promotes physical as well as mental growth.</li>
        <li>Promotes extracurricular activities relevant to the community.</li>
        <li>Helps children come out of school responsible and aware citizens with skills
            that will allow them to secure meaningful jobs and to be fully included and
            engaged in society.</li>
        <li>Everyone in the world has access to education about the following:</li>
        <li> <span class="font-bold">SELF-SUFFICIENCY:</span> Shelter, Sanitation, Technological Self- sufficiency,

            Solving local problems, Health Practices, Resource Self-</li>
        <li> <span class="font-bold">SELF-SUFFICIENCY:</span> Shelter, Sanitation, Technological Self- sufficiency,

            Solving local problems, Health Practices, Resource Self-
            sufficiency/knowledge, Connected/Access to information, Creation of a
            
            better sustainable world, Effective local medicine</li>

        <li> <span class="font-bold">JUSTICE:</span>Human Rights Awareness, Empowerment/Equality for women,
            Local laws awareness</li>

            <li> <span class="font-bold">HEALTH:</span>Family Planning, Disease, Sanitation, Health Practices, Effective
                local medicine</li>
            <li> <span class="font-bold">BASIC EDUCATION:</span>EDUCATION: Reading, math, health, history, global awareness,
                money management.</li>
        <li>The preferred state is where everyone in the world has access to low-cost, high-
            quality education—and one aspect of this “high quality” are gifted, enthusiastic and
            
            well-trained teachers. In addition, the education system should be global, and
            function as a learning system (meaning that it is constantly improving). It needs to
            be set up in a way that allows teachers from around the world to learn from each
            other. There needs to be cooperation and collaboration between teachers all over
            the world so that teaching methods are constantly improving. In addition, everyone
            in the world needs to have access to vocationally and culturally relevant education.</li>
        <li>100 percent of humanity is literate; that is, everyone can read, write, use arithmetic,
            computers, and other basic means to understand, communicate, gain useful
            knowledge of the dominant symbol systems of a culture.</li>
        <li>The educational system is free for elementary, primary, secondary, and tertiary
            students everywhere in the world.</li>
        <li>Everybody has an equal opportunity of attending school and learning relevant skills
            for a better life.</li>
    <li>Education is community based.</li>
    <li>Everybody has access to excellent, well trained, well paid,
        responsible teachers as well as safe and state-of-the-art schools,
        lab equipment, texts and Internet connection</li>
    <li>Courses are taught in languages best understood by the
        communities in which they are taught (i.e. in a community’s
        native language)</li>
    <li>Foreign languages are taught to all.</li>
            
        
        </ul>
              


        <h1 class="text-xl my-4 font-bold text-gray-900 dark:text-white">Health Preferred State</h1>
        <div class="flex flex-row">
         <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fhealth-1.png?alt=media&token=8c7bc865-ca3b-4db0-b80a-4138d84f4602" alt="">
             <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Health Preferred State -1 </figcaption>
             </figure>
             <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fhealth-2.png?alt=media&token=d961b0e4-3dbd-423f-9ebb-7a54efced748" alt="">
                 <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Health Preferred State -2 </figcaption>
                 </figure>
     </div>
     <p class="my-2 text-gray-900 dark:text-white">
        By the year 2030, 100% of humanity will have access to:
    </p>
     <ul class="list-disc mb-2 text-gray-900 dark:text-white">
         <li> Basic health resources</li>
       <li>Health education, and a healthy social environment.</li>
       <li>In addition, known curable diseases will be eradicated, and everyone will have
        access to the following resources and services:</li>
        <li>potable water, sanitation,</li>
        <li>food supplies adequate to maintain good health,</li>
        <li>pre- and post-natal care,</li>
        <li>medical facilities,</li>
       <li>and medicines.</li>
       <p class="my-2 text-gray-900 dark:text-white">
      Plus:
    </p>
    <li>100% of children are vaccinated.</li>
    <li>100% of childbirths are assisted by a trained medical professional/midwife, 100% of
        people are given basic sexual education,</li>

    <li>The number and quality of medical personnel and medical facilities is increased—
        resulting in maternal health increases, infant mortality rates decrease, and the
        international disease burden significantly lowered.</li>


         </ul>


        <h1 class="text-xl my-4 font-bold text-gray-900 dark:text-white">Climate Preferred State</h1>
        <div class="flex flex-row">
         <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fclimate-1.png?alt=media&token=a2c339eb-5d8c-4771-8bd4-b64506df7b69" alt="">
             <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Climate Preferred State -1 </figcaption>
             </figure>
             <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fclimate-2.png?alt=media&token=b9725f56-7858-4a33-bf9f-61deabff6cfc" alt="">
                 <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Climate Preferred State -2 </figcaption>
                 </figure>
     </div>
    
     <ul class="list-disc mb-2 text-gray-900 dark:text-white">
         <li>100% of humanity will live in a region and world free from life-threatening impacts
            caused by a changing climate.</li>
            <li>100% of humanity will not have their health negatively impacted by climate change.</li>
         <li>Greenhouse gas emissions will be at net-zero. Meaning, the amount of gasses
            released will be absorbed by natural or human- made assortation processes.</li>
        <li>The average global temperature will be stable.</li>
        <li>Sea levels will no longer be rising; glacier and sheet ice shelfs in Greenland and
            Antarctica will no longer be decreasing in size.</li>
        <li>Weather patterns and weather-caused natural disaster events will return to pre-
            climate change levels.</li>
        <li>Dealing with the impacts and threats of climate change will be an engine of
            economic development, resulting in millions of new jobs and economic strength.</li>
        <li>Reduction to naturally sustainable levels of human-generated atmospheric
            emissions from combustion of energy, agriculture, industries, and other sources.</li>
        
        <li>Stabilization of global temperature below the level that increases global warming.</li>
        <li>Switch to greener methods of energy production such as solar, wind, geothermal,
            tidal and others.</li>
    
        <li>90% reduction of all carbon-intensive fuels. Restoration of forests to pre-industrial
                levels.</li>

        <li>Increase in youth and general public knowledge of, prioritization of, and involvement
            with the state of the world’s climate and the factors that impact it.</li>
    
    </ul>


                    <h1 class="text-xl my-4 font-bold text-gray-900 dark:text-white">Poverty Preferred State</h1>
                    <div class="flex flex-row">
                    <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fpoverty-1.png?alt=media&token=d71fc5a1-00ae-440d-b9b7-de3f5570f626" alt="">
                        <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Poverty Preferred State -1 </figcaption>
                        </figure>
                        <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fpoverty-2.png?alt=media&token=989ae77e-a35d-475b-8046-7be75eb05c2f" alt="">
                            <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Poverty Preferred State -2 </figcaption>
                            </figure>
                </div>
                <p class="my-2 text-gray-900 dark:text-white">
                Every citizen in the world has:
                </p>
                <ul class="list-disc mb-2 text-gray-900 dark:text-white">
                <li>Continuing access to plentiful quantities of nutritious food</li>
                <li>clean water</li>
                <li>sanitation</li>
                <li>a secure shelter</li>
                <li>continuous and clean power</li>
                <li>life-changing education</li>
                <li>the best healthcare, and</li>
                <li>economic opportunities that maintain and advance their well-being.</li>


                    </ul>





                    <h1 class="text-xl my-4 font-bold text-gray-900 dark:text-white">Sustainable Cities Preferred State</h1>
                
                    <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fsustainable.png?alt=media&token=20544393-d994-4c0a-8fef-ae90dcab28d9" alt="">
                        <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Sustainable Cities Preferred State -1 </figcaption>
                        </figure>
                        
          
                <p class="my-2 text-gray-900 dark:text-white">
                    The Preferred State for the world’s urban environments are characterized by the following
                    qualities. They are:

                   <span class="font-bold">Equitable</span>  opportunity for full participation in all activities, benefits, and decision-making
                        of society.  <span class="font-bold">Economic</span> opportunities that serve the common good, are self-renewing, and
                        build local assets and self-reliance.
                        Ecological perspectives that see humans as part of nature, nature having limits, and
                        communities responsible for protecting and building natural assets,
                        <span class="font-bold">With</span>
                </p>
                <ul class="list-disc mb-2 text-gray-900 dark:text-white">
                <li>More energy is produced by cities than consumed</li>
                  <li>More water is conserved and collected than is needed by the city’s residents</li>  
                <li>At least 50% of the city’s fresh food is produced within the city’s borders</li>
            <li>Urban waste is reduced by 90%/cities are a vital part of the global circular economy.</li>
            
            </ul>



            <h1 class="text-xl my-4 font-bold text-gray-900 dark:text-white">Human Rights Preferred State</h1>
                  
                    <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fhuman-rights.png?alt=media&token=2e47f66d-0d90-4ae4-9dad-521512844689" alt="">
                        <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Human Rights Preferred State -1 </figcaption>
                        </figure>
                     
              
                <p class="my-2 text-gray-900 dark:text-white">
                    The Preferred State of human rights in the world is one that is characterized by:
                </p>
                <ul class="list-disc mb-2 text-gray-900 dark:text-white">
                <li>No children, women and men trafficked, anywhere, for any purpose.</li>
               <li>Human trafficking market reduced to $0 annually.</li>
                    <li>The world socialized to see slavery as horrific, unacceptable, and taboo.</li>
                <li>Communities educated on the causes and consequences of human trafficking.</li>    
                <li>Communities provided with the tools to protect and prevent human trafficking.</li>
                <li>All human beings fight aggressively and openly against the exploitation of fellow
                    humans and cooperate to form a united front against all forms of human trafficking
                    and human rights abuse.</li>
                
                <li>100% of humanity are aware of their human rights as stated by the Universal
                    Declaration of Human Rights by the United Nations.</li>
                
                <li>There is universal acceptance and agreement that human rights are essential.</li>
                <li>Everyone with human rights actively works to make sure that all of humanity has
                    access to these human rights.</li>
                
                <li>Child mortality, for every child in the world, is at the same level as children in the
                    developed world.</li>

                <li>Child labor is outlawed throughout the world and these laws are enforced.</li>
                <li>Child marriages are outlawed throughout the world and these laws are enforced.</li>
            <li>Human trafficking is outlawed throughout the world and these laws are enforced.</li>
            <li>Women have the opportunity to participate fully in their society, including
                opportunities for business development.</li>


            </ul>




            <h1 class="text-xl my-4 font-bold text-gray-900 dark:text-white">Global Preferred State</h1>
                  
                    <figure class="mt-3 mb-4"><img src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/others%2Fsample-preferred-states%2Fglobal.png?alt=media&token=48978691-edbc-48bc-96ad-5306404e0188" alt="">
                        <figcaption class="text-center font-Nunito mt-4 text-gray-900 dark:text-white">Global Preferred State -1 </figcaption>
                        </figure>
                     
              
                <p class="my-2 text-gray-900 dark:text-white">
                    The Design Science problem solving process begins with a vision of how the world should
                    be. This vision is usually specific to the general issue or problem being addressed, such as
                    poverty, food and hunger, energy supply, education and the like. It is often helpful though
                    to begin the design process with a broader preferred state for the whole world that
                    encompasses the well-being of all the world’s life support systems. The following is such a
                    global preferred state:
                </p>
                <p class="my-2 text-gray-900 dark:text-white">
                    All of humanity—every child, woman, and man in every country in the world—has, on a
                    sustainable basis,
                </p>
                <ul class="list-disc mb-2 text-gray-900 dark:text-white">
                    <li>Abundant supplies of nutritious and culturally appropriate food.</li>
               <li>Adequate housing complete with sanitation facilities and clean running water.</li>
            <li>Abundant supplies of energy that are clean, safe, and affordable.</li>
            <li>Access to local comprehensive health care and the latest advances of medical
                science.</li>
            <li>Access to education, so that literacy is universal, as are opportunities for advanced
                (college level) education; access to the Internet is universal.</li>
        <li>Access to communication and transportation facilities that are readily available and
            affordable, so that anyone can communicate with anyone else on Earth who wants
            to be communicated with, and people can travel anywhere they want to go.</li>
        
            <li>Access to employment opportunities and fulfilling work— including vocational
                alternatives, re-training, and on-the-job- training—are available to all.</li>
        <li>Access to open borders, free of trade and emigration restrictions, subsidies, and
            other barriers to market-driven economies.</li>

        <li>Access to information so that all public negotiations (for example, labor contracts,
            legislation, and government contracts), accounting practices, and elections are
            transparent and open to inspection by anyone at any time.</li>

        <li>Access to decision making, so that all citizens have a significant role in decision-
            making processes that affect their lives, and each lives in a peaceful, democratic,
            
            secure and safe world that is free from crime, terror, and nuclear, chemical, and
            biological weapons.</li>
    
            <li>Access to a clean, healthy environment that is free of toxic wastes, pollution of all
                kinds, soil erosion, and damaging industrial and agricultural practices.</li>

        <li>The biosphere and its resources are self-regenerating, with humans cooperating to
            ensure this.</li>

        <li>Biodiversity is increasing throughout the world.</li>
    <li>Around the globe, strong social incentives foster democracy, personal initiative,
        trust, cooperation, respect, and love— and discourage all forms of torture,
        degrading treatment, and punishment.</li>

        <li>Access to an independent and impartial tribunal to which each person is entitled,
            on an equal basis; each person has the right to nationality and to perform public
            service in one’s own country.</li>

        <li>Access to rest and leisure.</li>

        <li>Access to special protection, care, and assistance for mothers and children.</li>
        <li>Freedoms of speech, of the press, and of religion are the rule everywhere.</li>
    <li>All forms of prejudice—against another’s ethnicity, race, religion, origins, gender,
        age, sexual preference, or income level—are gone.</li>
    <li>Every culture and nation respects and celebrates the unique value of all others, and
        provides strong social supports for individuals, families, and communities.</li>
    <li>The arts in all forms are widely appreciated and cultivated.</li>
    <li>Spiritual growth and fulfillment is the norm for all humans.</li>
    </ul>
         

<p class="my-2 text-gray-900 dark:text-white">
    [NOTE: If you can think of any additional qualities that the global Preferred State should
    embody, send it to <a target="_blank" href="mailto:{{email}}" class="text-blue-500 hover:text-blue-600" >{{email}}</a> ]
</p>

         
         
               
        </article>
        </div>
    
    
    </main>
    <app-footer></app-footer>
    </div>