
<app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [lastName]="this.auth.currentUser.lastName" [path]="'home'" current="''"></app-navbar>


<div class="dark:bg-slate-900 min-h-screen">
    <div class="container flex mx-auto bg-gray-300 dark:bg-slate-900 mt-24">

        <div class="flex flex-col mx-auto m-10">

            <form class="bg-white p-10 shadow-lg w-max md:w-[32rem] dark:bg-slate-800" [formGroup]="myForm">
                <h1 class="flex flex-col text-xl text-center my-4 mb-4 dark:text-gray-200">Starting a Solution Lab</h1>
                <div *ngIf="solutionError | async" class="text-red-400" >
                    An error occured while launching the Laboratory.
                    Try again. 
                </div>
                <div class="mb-6">
                    <label for="title" class="block mb-2 text-md font-medium text-gray-900 dark:text-gray-200">Solution Lab Project working Title</label>
                    <input type="email" id="text" formControlName="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="">
                    <div *ngIf="title!.invalid && title!.touched " class="text-red-400" >
                    A title is required.
                    </div>
                </div> 
            
                <header class="inverted">
                    <h2 class="py-2 text-gray-900 dark:text-gray-200">Describe your problem focus in few bullet points</h2>
                </header>
                <div class="" role="main">
                
                    <textarea name=""  formControlName="description" class="border-2 border-gray-300 rounded-lg  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  id="" cols="50" rows="5"></textarea>
                
                    
                    
            
                    <div *ngIf="description!.invalid && description!.touched " class="text-red-400" >
                    You need to write description.
                    </div>
                    
                </div>
                <div class="mb-6 mt-4">
                    <label for="invite" class="block mb-2 text-sm font-medium dark:text-gray-200">Add Team Members</label>
                    <div class="flex flex-col dark:bg-slate-800">
                            <mat-form-field class="example-chip-list dark:bg-slate-800">
                                <mat-label >Add Team Members email</mat-label>
                                <mat-chip-grid #chipGrid aria-label="Add Team Members email" >
                                <mat-chip-row class="bg-white" *ngFor="let email of participantsEmails"
                                                (removed)="remove(email)"
                                                [editable]="true"
                                                (edited)="edit(email, $event)"
                                                [aria-description]="'press enter to edit ' + email.name">
                                    {{email.name}}
                                    <button matChipRemove [attr.aria-label]="'remove ' + email.name">
                                    <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                                <input   placeholder="email..."
                                formControlName="emails" 
                                        [matChipInputFor]="chipGrid"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur"
                                        (matChipInputTokenEnd)="add($event)"/>
                                </mat-chip-grid>
                            </mat-form-field>
                            <div *ngIf="emails!.invalid && emails!.touched" class="text-red-400" >
                            Make sure all emails are valid.
                            </div>
                    </div>
                    
                
                </div> 



                <div class="mb-6 mt-4">
                    <label for="invite" class="block mb-2 text-md font-medium dark:text-gray-200">Randomly Generated Evaluators</label>
                    <div class="flex flex-col">
                        <div *ngFor="let ev of evaluatorsEmails; let i=index">
                            <h1 class="text-gray-400 dark:text-gray-400">{{i+1}}.  {{ev.name}}</h1>
                        </div>
                            
                    </div>
                    
                
                </div> 

                <!-- <div>
                

                    <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">SDG That Correspond To Your Project</label>
                        <select formControlName="sdg"  id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option selected>None</option>
                    
                        
                            <option *ngFor="let sdg of sdgs; let i = index" value="{{sdg}}">{{sdg}}</option>
                            
                    
                        </select>

                        <div *ngIf="sdg!.invalid && sdg!.touched " class="text-red-400" >
                            A SDG is required.
                            </div>
                </div> -->

                <div class="mb-6 mt-4">
                    <label for="invite" class="block mb-2 text-sm font-medium dark:text-gray-200">SDGs That Correspond To Your Solution</label>
                    <div class="flex flex-col dark:bg-slate-800">
                            <mat-form-field class="example-chip-list dark:bg-slate-800">
                                <mat-label >Select SDGs</mat-label>
                                <mat-chip-grid #chip aria-label="Add Sdgs" >
                                <mat-chip-row class="bg-white" *ngFor="let sd of selectedSdgs"
                                                (removed)="removeSdg(sd)">
                                    {{sd}}
                                    <button matChipRemove [attr.aria-label]="'remove ' + sd">
                                    <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                                <input   placeholder="sdgs..." #sdgInput
                                formControlName="mysdgs" 
                                        [matChipInputFor]="chip"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matAutocomplete]="auto"
                                        (matChipInputTokenEnd)="addSdg($event)"/>
                                </mat-chip-grid>

                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" >
                                    <mat-option *ngFor="let sd of filteredSdgs | async" [value]="sd">{{sd}}</mat-option>
                                  </mat-autocomplete>
                            </mat-form-field>
                            <div *ngIf="  mysdgs!.invalid && mysdgs!.touched  "class="text-red-400" >
                            Make sure you select an SDG.
                            </div>
                    </div>
                    
                
                </div> 
          
                  




                
            <!-- Pop up save  -->
                <div *ngIf="createdSolutionSuccess" id="toast-success" class="fixed inset-x-0 mx-auto top-[10rem] flex items-center z-40 w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow " role="alert">
                    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg ">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        <span class="sr-only">Check icon</span>
                    </div>
                <div class="ml-3 text-sm font-normal">Solution Lab Created Successfully.</div>
                    <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 "  (click)="closePopUpSucess()" >
                        <span class="sr-only">Close</span>
                        <svg class="w-3 h-3"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                    </button>
                </div>
            <!-- Pop up error  -->
            <div id="toast-danger" class=" fixed inset-x-0 mx-auto top-10 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow " role="alert" *ngIf="createdSolutionError">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
                </svg>
                <span class="sr-only">Error icon</span>
            </div>
            <div class="ml-3 text-sm font-normal">Item has been deleted.</div>
                <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white" >
                    <span class="sr-only">Close</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                </button>   
            </div>
                <div class=" my-6">
                    <div class="flex flex-row items-center mb-2 space-x-2">     
                        <label for="title" class="block  text-md font-medium text-gray-900 dark:text-gray-200">Timer</label>
                        <mat-form-field>
                            <mat-label>Solution Completion Date</mat-label>
                        <!-- #docregion toggle -->
                            <input  formControlName="date"  matInput [matDatepicker]="picker">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        <!-- #enddocregion toggle -->
                        </mat-form-field>
                        
                        
                    
                    </div>
                
                
                
                </div> 
                


                <button [disabled]="myForm.invalid" type="submit" class="text-white bg-teal-700 hover:bg-teal-800   font-medium rounded-full text-sm w-full  px-5 py-2.5 text-center" (click)="launchPlayground()">Launch Solution Lab</button>
                <div class="flex flex-col py-3 items-center" *ngIf="loading" role="status">
                    <svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin fill-teal-700" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                    </svg>
                    <span class="sr-only">Loading...</span>
                </div>
            </form>



        </div>


    </div>
</div>

<app-chatbot></app-chatbot>
