/* .local-video {
  width: 50%;
  height: auto;
}

.remote-video {
  width: 200px;
  height: auto;
  margin: 5px;
} */

/* video-call.component.css */

.video-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Dynamic layout to fit available space */
  gap: 1rem; /* Padding between each video */
  width: 100%;
  height: 100%;
}

.video-container {
  border: 1px solid #4b5563; /* Optional: Add a small border between each video (gray color) */
  overflow: hidden; /* Ensures no overflow */
  max-height: 100%; /* Keeps videos from overflowing vertically */
}
