<div class="dark:bg-slate-900 min-h-screen flex items-center justify-center">
    <div class="flex flex-col items-center">
        <div class="flex flex-row item-center space-x-4 mb-4">
            <!-- scrolling left -->
            <button (click)="scrollLeft()"> 
                <svg class="w-[36px] h-[36px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                  </svg>                  
            </button>
            <!-- smaller videos container-->
            <div class="flex flex-row item-center space-x-4 mb-4 overflow-x-hidden" style="max-width: 73vw" #scrollingVideo> 
                <!-- each smaller video -->
                <div class="relative bg-black px-6 pb-8 pt-10 shadow-xl ring-1 ring-gray-900/5 text-white sm:rounded-lg aspect-video" style="height: 13vh;" *ngFor="let u of users">
                    <img src="src\assets\img\albert-einstein.png" alt="smaller video">
                </div>
            </div>
            <!-- scrolling right -->
            <button (click)="scrollRight()"> 
                <svg  class="w-[36px] h-[36px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                  </svg>                  
            </button>
        </div>
        <div class="relative bg-black px-6 pb-8 pt-10 shadow-xl ring-1 ring-gray-900/5 text-white sm:rounded-lg aspect-video" style="height: 60vh;">
            <img src="src\assets\img\jane-goodal.png" alt="video of primary speaker goes here">
        </div>
        <div class="flex flex-row justify-center space-x-36 mt-4 dark:bg-gray-700 sm:rounded-lg pt-3 pb-3 pl-10 pr-10">
            <img class = "w-20 rounded-lg  hover:bg-gray-100 dark:hover:bg-gray-700" src="https://static-00.iconduck.com/assets.00/video-camera-icon-2048x1536-s5guccor.png">
            <img class = "w-10 rounded-lg  hover:bg-gray-100 dark:hover:bg-gray-700" src="https://static-00.iconduck.com/assets.00/mic-icon-1433x2048-yncr751o.png">
            <img class = "w-14 rounded-lg  hover:bg-gray-100 dark:hover:bg-gray-700" src="https://www.freeiconspng.com/uploads/call-end-icon-1.png">
        </div>
    </div>
    <app-team-discussion  [comments]="discussion" [solution]="currentSolution"></app-team-discussion>
</div>



