<div class="dark:bg-slate-900  min-h-screen">
    <div *ngIf="!isLoggedIn">
        <app-navbar></app-navbar>
      </div>
      <div *ngIf="isLoggedIn">
        <app-navbar [sideBarSmall]="true" [sideBarBig]="false"  [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [lastName]="this.auth.currentUser.lastName" [path]="'home'" ></app-navbar>
      </div>
    
    <section class="bg-white dark:bg-gray-900 mt-20">
        <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
            <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
               
                <h1 class="mb-4 text-2xl font-extrabold text-gray-900 dark:text-white md:text-3xl lg:text-5xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Architects of the Future: </span> The Essential AI Toolkit for Advancing the UN SDGs. </h1>
               
                <div class="my-10">
                    <a routerLink="/workshop-register" class="mx-auto lg:max-w-xs p-5 px-24   text-white border- bg-teal-700 rounded-full hover:bg-teal-800"> Register</a>
                </div>
               
                
                <p class="mb-4"> <strong > Join us for a transformative "Lunch and Learn" session, *Architects of the Future: The Essential AI Toolkit for Advancing the UN SDGs*, on   December 12, 2024 at 12pm EST.</strong>
                   </p> 
                   <p >
                    This workshop, sponsored by the NewWorld Game, is both a call to action and a celebration of innovation. Inspired by Buckminster Fuller’s vision that we are "architects of the future, not its victims,"
                    Participants will explore the power of artificial intelligence to accelerate solutions to global challenges defined by the United Nations Sustainable Development Goals (SDGs). This session is designed for individuals looking to leverage AI to make meaningful, data-driven impacts on sustainable development initiatives.  </p>   
                
                <p class="mb-4"><strong>Agenda Highlights:</strong></p>
                <ul class="mb-4 list-disc">
                    <li><strong class="font-semibold">The AI Advantage for SDGs:</strong>  An exploration of AI’s unique abilities, from pattern recognition to predictive insights, that enhance efforts in poverty reduction, environmental preservation, and education equality.                  </li>
                    <li><strong class="font-semibold">Understanding AI’s Boundaries and Ethical Use:</strong>  Discussion on AI’s limitations and the importance of responsible, ethical AI use to mitigate risks and ensure positive outcomes.</li>
                    <li><strong class="font-semibold">Hands-On with AI Tools for SDG Impact :</strong>  Practical demonstration and mini-workshop using AI tools tailored for sustainability, focusing on real-world applications aligned with SDGs.

                    </li>
                    <li><strong class="font-semibold">Q&A and Discussion:</strong> Interactive session for attendees to discuss challenges, ideas, and potential collaborations.</li>
                   
                </ul>
               
            </div>
            <div class="grid grid-cols-1 gap-4 my-8">
              
                <img class="w-full rounded-lg" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/blogs%2Fworkshop.png?alt=media&token=028a6399-e678-476a-846a-25d07423bbd7" alt="office content 1">
                <!-- <img class="mt-4 w-full lg:mt-10 rounded-lg lg:h-[20rem] lg:w-[15rem]" src="https://firebasestorage.googleapis.com/v0/b/new-worldgame.appspot.com/o/blogs%2Fsdgs.webp?alt=media&token=407fb58b-274e-40d3-8530-22edef4eed96" alt="sdgs"> -->
              
               
            </div>
            <div class="md:my-0 my-10 ">
                <a routerLink="/workshop-register" class="mx-auto lg:max-w-xs p-5 px-24   text-white border- bg-teal-700 rounded-full hover:bg-teal-800"> Register</a>
            </div>
           
        </div>
    </section>
    <app-footer></app-footer>
</div>
    
